

@media screen and (max-width: 600px){
	#btn-change-dp{
		
		font-size: 1.2em;
	}
	.dpModal, .passwordModal{
		
		height: 180px;
	
		width: 80%;

		top: 30%;
		left: 10%;
	
	}
	.dp-account-settings{
		width: 92%;
		height: 290px;
		margin: auto;
		display: block;
	}
	.modalHeader #change-dp-title{
	
		margin-top: 10px;

	
	}
	.modalHeader #change-password-title{
	
		margin-top: -5px;

	
	}
	.other-info-edit-btn{
		font-size: 2em;
		
	}
	
	#user-dp .user-dp-title, #security-info p, #other-info .p{
		font-size: 2em;
		margin: 2% 0% 1% 3.8%;
		color: rgb(0, 128, 128);
		padding-top: 2%;
	}
	

}
@media screen and (min-width: 601px) and (max-width: 991px){
	#btn-change-dp{
		font-size: 2em;
	}
	.change-dp-btn{
		font-size: 2em;
	}
	
	.dp-account-settings{
		width: 92%;
		height: 300px;
		margin: auto;
		display: block;
	}
	.dpModal, .passwordModal{	
		height: 250px;
		width: 70%;
		top: 25%;
		left: 15%;
	}
	.modalHeader #change-dp-title{
		margin-top: 10px;
	}
	.modalHeader #change-password-title{
		margin-top: -5px;
	}
	.other-info-edit-btn{
		font-size: 2em;
		
	}
	#user-dp .user-dp-title, #security-info p, #other-info .p{
		font-size: 2.7em;
		margin: 1% 0% 1% 3.8%;
		color: rgb(0, 128, 128);
		padding-top: 2%;
	}

	.view-btn, .edit-btn, .save-btn{
		
		font-size: 1.8em;
	}
	
	.verify-pass-btn{
		font-size: 2em;
	}



}
@media (min-width: 992px) and (max-width: 1199px){
	#btn-change-dp{
		
		font-size: 1.2em;
	}
	.dpModal, .passwordModal{
		width: 40%;
		top: 20%;
		left: 30%;
	}
	.dp-account-settings{
		width: 92%;
		height: 202px;
		margin: auto;
		display: block;
	}
	.modalHeader #change-dp-title{
		margin-top: 10px;
	}
	.modalHeader #change-password-title{
		margin-top: 5px;
	}
	.other-info-edit-btn{
		font-size: 1.3em;
	}
	#user-dp .user-dp-title, #security-info p, #other-info .p{
		font-size: 160%;
		margin: 2% 0% 1% 3.8%;
		color: rgb(0, 128, 128);
		padding-top: 2%;
	}
}
@media(min-width: 1200px){
	
	#btn-change-dp{
		
		font-size: 1.1em;
	}
	.dp-account-settings{
		width: 92%;
		height: 202px;
		margin: auto;
		display: block;
	}
	.dpModal, .passwordModal{
		width: 30%;
		top: 20%;
		left: 37%;
	}
	.modalHeader #change-dp-title{
	
		margin-top: 10px;

	
	}
	.modalHeader #change-password-title{
	
		margin-top: 7px;

	
	}
	.other-info-edit-btn{
		font-size: 1.4em;
		
	}
	#user-dp .user-dp-title, #security-info p, #other-info .p{
		font-size: 140%;
		margin: 2% 0% 1% 3.8%;
		color: rgb(0, 128, 128);
		padding-top: 2%;
	}

}


#btn-change-dp{
	width: 92%;
	margin-left: 3.9%;
	margin-top: 0.5%;
	margin-bottom: 4%;
	border: none;
	background-color: rgb(0, 128, 128);
	padding: 1.5%;
	color: rgb(255,255,255);
	border-radius: 0.2em;

}
body{
 	background-color:rgb(242, 242, 242);
}
#close, .x{
	float: right;
	font-size: 200%;
	background-color: transparent;
	border: none;
	margin-right: 3px;
	margin-top: 0.7%;
	color: rgb(255, 255, 255);
}
#changePassNote{
	font-size: 14px;
	opacity: 0.5;
	padding: 5px 5px 10px 0;
}

.change-dp-btn{
	width: 100%;
	background-color: rgb(0, 128, 128);
	border: none;
	padding: 2%;
	
	color: rgb(255,255,255);
	border-radius: 0.3rem;
	margin-top: 10px;
}
.country-name{
	font-size: 2.5em;
	color: rgb(0,128,128);
	margin: 0.5em 0 0 0;
	text-align: center;
}
.custom-file-upload {
	width: 100%;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
	cursor: pointer;
	border-radius: 0.2em;
}
#dpModal, #passwordModal{

	display: none;

}
.dpModal, .passwordModal{
	position: absolute;
	background-color: rgb(255, 255, 255);
	border-left: 2px solid rgb(0, 128, 128);
	border-right: 2px solid rgb(0, 128, 128);
	border-bottom: 2px solid rgb(0, 128, 128);
	z-index: 2;
	border-top-right-radius: 0.5rem;
	border-top-left-radius: 0.5rem;
}
.dp-account-settings{
	border-radius: 0.2em;
}
.edit-btn{
	width: 14%;
	border-radius: 0.5rem;
	border: none;
	background-color: rgb(57, 172, 115);
	padding: 1.6%;
	color: rgb(255,255,255);
	
}

.flag{
	height: 150px;
	width: 100%;
}
.flag-section{
	border: 0.5px solid rgba(153, 153, 153,0.6);
	padding-top: 0.5em
}

#forms div input{
	width: 70%;
}

.langFrameSelection{
	display: flex;
	flex-wrap: wrap;
	cursor: pointer;
}
.langFrameSelection li{
	background-color: rgb(224, 235, 235);
	color: rgb(0, 128, 128);
	margin: 0.5em 0.5em 0 0;
	padding: 0.3em;
	border-radius: 0.3em;
	list-style-type: none;
}
.langFrameSelection li span{
	font-size: 0.8em;
	margin-left: 0.2em;
}
.modalBody{
	clear: both;
	margin: 2.7% 2.5% 3% 2%;

}


.modalHeader{
	height: 50px;
}
.modalHeader #change-dp-title, .modalHeader #change-password-title{
	float: left;
	color: rgb(255,255,255);
	font-size: 20px;
	margin-left: 1%;
}
.my-experience{
	margin-bottom: 7px;
	border: 0.5px solid rgba(153, 153, 153,0.6);
	background-color: rgba(224, 235, 235,0.7);
	padding: 1%;
	border-radius: 0.3rem;
	word-wrap: break-word;
	color: rgb(0,128,128);
}
.ModalsBg{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0,0.5);
	top: 0;
	left: 0;
	z-index: 3;
}
.no-data{

	font-size: 1em;
	font-family: sans-serif;
	margin: 0.3em 0 -0.3em 0;
	padding: 0.2em 0.2em 0.2em 0.2em;
	border-radius: 0.2em;
	color: rgb(255, 0, 0);
	width: auto;
}

.other-info-edit-btn{
	width: 100%;
	border-radius: 0.3rem;
	border: none;
	background-color: rgb(0, 128, 128);
	padding: 1%;
	color: rgb(255,255,255);
	margin-top: -1%;
	
}
.other-info{
	margin-top: -4%;
	

}

#other-info, #security-info, #user-dp{
	box-shadow: 0px 0px 1px 0px grey;
}
#other-info form label{
	font-size: 1em;

}
#other-info input{
	height: 35px;
	width: 100%;
}

#other-info form{
	margin: 0% 4% 2% 4%;
}
#other-info{
	margin-bottom: -2.5%;
}

.resume-form{
	padding-bottom: 2%;
}
#resume-file{
	display: none;
}

.resume-name{
	text-align: center;
	font-size: 2em;
}

.rm-skills-btn{
	font-size: 12px;
	float: right;
	
	background-color: rgb(255,0,0);
	border: none;
	color: rgb(255,255,255);
	border-radius: 0.2rem;
}

#skills-tags #skills-input{

	background: #eee;
	border: 0;
	margin: 10px 4px 4px 4px;
	padding: 7px;
	width: auto;
	height: 17px;
	border-radius: 0.2rem;
}
#skills-tags{
	border: 1px solid rgba(204, 204, 204,0.3);
	width: auto;
	height: auto; 
	padding-bottom: 5px;
}
.skills-max-width{
	max-width: 280px;
}

.show-btns{
	border: none;
	margin: 0.5em 0 0.5em 0;
	font-size: 1em;
	padding: 0.5em;
	background-color: rgb(0, 128, 128);
	color: rgb(255, 255, 255);
	border-radius: 0.3em;
}


#security-info div input{
	height: 35px;
}
#security-info #forms{
	margin: 0% 4% 10% 4%;
	padding-bottom: 0.7%;
}
#security-info #forms div input{
	height: 35px;
}
#security-info #forms div label{
	font-size: 100%;
	font-size: 1em;

}


.submit-resume-btn{
	border: none;
	background-color: rgb(0, 128, 128);
	padding: 10px;
	color: rgb(255,255,255);
	margin-top: 1%;
	width: 100px;
	border-radius: 0.1em;
	font-size: 1.1em;
}
.save-btn, .view-btn{
	width: 14%;
	border-radius: 0.5rem;
	border: none;
	background-color: rgb(0, 102, 153);
	padding: 1.5%;
	color: rgb(255,255,255);
	/* font-size: 1.5em; */
}



.tags, .skills{
	float: left;
	  padding: 4px;
	  font-family: Arial;		
}
 .tags span:after, .skills span:after {
  position: absolute;
  content: "×";
  padding: 0 4px;
  margin: 0px 0 10px 7px;
  font-size: 18px;
}
.tags span, .skills span{
  cursor: pointer;
  display: block;
  float: left;
  color: rgb(255,255,255);
  background: rgb(0,128,128);
  padding: 5px 10px;
  padding-right: 30px;
  margin-right: 4px;
  margin-top: 5px;
}
#tags{
	background: #eee;
  border: 0;
  margin: 10px 4px 4px 4px;
  padding: 7px;
  width: auto;
  height: 17px;
  border-radius: 0.2rem;
}
#user-dp,#security-info, #other-info{
	background-color: rgb(255, 255, 255);
	width: 100%;

	/*border: 1px solid red;*/
	border-radius: 0.5rem;

	
}


.upload-logo{
	font-size: 3em;
	/* margin-left: 45%; */
}



#verify-pass{
	border: 1px solid rgb(0, 128, 128);
	border-radius: 0.3rem;
	margin-bottom: 1.5%;
	padding-left: 1px;

}
.verify-pass-btn{
	width: 100%;
	background-color: rgb(0, 128, 128);
	border: none;
	padding: 2%;
	color: rgb(255,255,255);
	border-radius: 0.3rem;
	margin-top: 1px;
}

.view-btn{
	width: 14%;
	border-radius: 0.5rem;
	border: none;
	background-color: rgb(0, 128, 255);
	padding: 1.7%;
	color: rgb(255,255,255);
	
}
