
<!DOCTYPE html>
<html>
<head>
	<title></title>
	 <link href="{{ url_for('static', path='/main.css') }}" rel="stylesheet">
</head>
<body>
	<header>My First FastAPI</header>
	<form action="/form" method="POST">
		<label>Username</label>
		<input type="text" name="username">
		<label>Password</label>
		<input type="password" name="password">
		<input type="submit" name="">
	</form>
 <!-- <h1>Item ID: {{ id }}</h1> -->
<!-- 
{% for name in names %}

  <p>{{name}}</p>
{% else %}
<p>Not</p>
{% endfor %} -->
</body>
</html>
