<!DOCTYPE html>
<html>
<head>
	<title>VueJs Components</title>
</head>
<body>
		<div id="events">
			
			
				<base-checkbox  v-model="checked" value="jereco"></base-checkbox>
				<base-checkbox v-model="checked" value="piso"></base-checkbox>

			    {{checked}}
			  <!--  v-on:remove="checked.slice(0, 1)"   -->
			
		</div>
			
<script type="text/javascript" src="vue.js"></script>
<script type="text/javascript">
	Vue.component('base-checkbox',{
		model: {
			prop: 'unchecked',
			event: 'change'
		},
		props: {
			value: '',
			checked: Boolean
		},
		// computed: {
		// 	haha: function(){
		// 		alert("haha")

		// 		// v-bind="haha"
		// 	}
		// },
		template: `<input type="checkbox" v-bind:value="value"  v-on:click="$emit('remove')" v-bind:checked="checked" v-on:change="$emit('change', $event.target.value)">`
		// v-on:change="$emit('change', $event.target.value)"
	});
	new Vue({
		el: "#events",
		data: {
			check: '',
			checked: ["fd","dfg"]
			
		}
		
	})
</script>
</body>
</html>