{% extends 'html/user_pages/user_base.html' %}


{% block user_page %}
		<span class="fa fa-bars" id="show"></span>
		<div class="flex-container">
			<div class="flex-item1">
				{% include 'html/user_pages/side_nav.html' %}
				
			</div>
			<div class="flex-item2">
				<p id="calendar"><span class="fa fa-clock mr-1"></span><span id="time"></span> <span id="date"></span><span class="fa fa-calendar right mr-1"></span> </p>
				<button class="btn-back" onclick="back()"> <span class="fa fa-arrow-left"></span> Back</button>
				<button class="btn-home" onclick="home()"> <span class="fa fa-home"></span> Home</button>
				<div class="row clear-float">
				<!-- 	-->
					<div class="col l5 s12 m12 xl5"  id="projects">
					
						<p class="my-projects">Uploaded Projects ({{count}})<!--  <span>20</span> --> </p>
					
						<li class="uploaded-project" v-for="p in project">
							<a v-bind:href="url+p.project_name">[p.project_name]</a >
						</li>
					</div>
					<div class="col l7 s12 m12 xl7">
						<div id="files" >
						 <p>Upload a Project</p>
						 <form  @submit.prevent="file()">
					        {% csrf_token %}
					       	<div>
					       		<label>Folder</label><br>
					       		<input type='file' webkitdirectory ref="file" @change="handleFileUpload()" ><br> 
					       		<label>About</label>
					       		<textarea v-model="about" id="about"></textarea>
					       		<label>Language(Optional)</label>
								 <select class="browser-default" id="select">
								    <option value="" disabled selected>Select Language</option>
								    <option>Option 1</option>
								    <option>Option 2</option>
								    <option>Option 3</option>
								  </select>
					       	</div>
						
							<button  type="submit" id="upload-btn">Upload <span class="fa fa-upload"></span> </button>

						 </form>

					</div> 
					</div>
				</div>
				
				
			</div>
			<!-- class sflex-item2 end -->
			
		</div>
		<!-- class flex-container end -->
{% endblock %}