{% extends 'html/user_pages/user_base.html' %}


{% block user_page %}
		<span class="fa fa-bars" id="show"></span>
		<div class="flex-container">
			<div class="flex-item1">
				
				{% include 'html/user_pages/side_nav.html' %}
				
			</div>
			<div class="flex-item2">
				<p id="calendar"><span class="fa fa-clock mr-1"></span><span id="time"></span> <span id="date"></span><span class="fa fa-calendar right mr-1"></span> </p>
				<button class="btn-back" onclick="back()"> <span class="fa fa-arrow-left"></span> Back</button>
				<button class="btn-home" onclick="home()"> <span class="fa fa-home"></span> Home</button>
				<div class="row clear-float">
				<!-- 	-->
					<div class="col l6 s12 m12 xl6">

						<p class="questions-asked-p">Questions Asked ({{ total_question }})</p>
						<ul class="collection question-ask" id="question-ask">
							{% for question in myquestions %}
							<li class="collection-item">{{ question.question }} <br>
								<cite class="date-asked">asked: June 12 2020</cite>
								<div class="question-info">
									<button type="button" id="btn-comments"> <span class="fa fa-comment"></span> </button>
									<button type="button" id="btn-remove"> <span class="fa fa-trash"></span> Remove </button>
									<button type="button" id="set-to-answered">Set as Answered</button>

								</div>
							</li>
							{% endfor %}
						
				

						</ul>
						
						
						
					</div>
					<div class="col l6 s12 m12 xl6">
						<div id="ask-question">
							<form @submit.prevent="askQuestion()">
								{% csrf_token %}
								<p>Ask Question</p>
								<label>Question</label>
								<textarea v-model="questionInfo.question"></textarea>
								<label>Code(Optional)</label>
								<textarea v-model="questionInfo.code"></textarea>
								<label>Language(Optional)</label>
								 <select class="browser-default" id="select" v-model="questionInfo.language">
								    <option value="" disabled selected>Select Language</option>
								    <option>Option 1</option>
								    <option>Option 2</option>
								    <option>Option 3</option>
								  </select>
								<button type="submit" id="ask-btn">Ask</button>
							</form>
							
						</div>
					</div>
				</div>
				
				
			</div>
			
		</div>

{% endblock %}