{% extends 'html/templates/base.html' %}

{% block main_page %}
{% include 'html/templates/header.html' %}
    <div class="aboutUs">
        <div class="content">   
            <strong>About <b class="imp-txt">CodeUnity</b> </strong>
         
            <ul class="about">
                <li>  The purpose of this website is to help other programmers who have 
                    encountered errors or difficulties in Web, Mobile, and Desktop development. 
                    This is a big help to them because here they can post their codes with errors that can be 
                    answered or given an answer by other active users of this platform.
                </li>
                <li>    You can also upload 
                    here your completed projects that you want to share with others.  Other users can download your project for free to help them practice programming or help them in the
                    the program that they are making. 
                </li>
                <li>  
                </li>
                <li> Another feature of codeunity is that you can find
                        programmers here that you can hire to work, you can see their skills and other information about them that will be the basis of their employment.
                </li>
                <li>I <b>Jereco James Piso</b> developed this platform for learning purposes only, then it comes to my mind that it will be more better if i host this online because it will help a lot of developers in their career or learning journey to the programming world.
                </li>
            </ul>
        </div>
    
           
     

    </div>
    {% include 'html/templates/footer.html' %}
{% endblock %}