{% extends 'html/templates/base.html' %}


{% block main_page %}
	
	{% include 'html/templates/header.html' %}
       
        <div class="row " id="developers">
          
          <div class="modalDeveloper">
            <div class="modalContent">
                <div class="modalHeader">
                  <button class="close-devInfo" @click="hideDev()">&times;</button>
                </div>
                <div class="modalBody">
                   <img :src="media+devInfo.photo" alt="" class="selectedDeveloperDp">
                   <a href="javascript:void(0)"  class="devname"> [devInfo.name]</a>
                   <p style="margin-bottom: 7px;" class="dev-expertise">( [devInfo.expertise] )</p>
                   <img class="flag" :src="media+'flags/'+devInfo.flag"> 
                   <span class="dev-rate">Rate/Hour <br> $[devInfo.rate]</span>
                   <p class="about-dev" v-html="devInfo.aboutme"></p>
                   <p class="selectedDevSkills">Skills</p>
    
                      <div  class="selectedDevelopersSkills"  v-html="devInfo.skills"></div>
                 
                   <a :href="'/resume/'+devInfo.name+'/'+devInfo.resume" class="view-resume">View Resume</a>
                  
                </div>
            </div>
        </div>
            <div class="col l9 m8 s12"  >
              <div class="bg-white" style="padding-bottom: 1.6em;">
                <p class="devs-slogan">  Well <strong>Experienced</strong>  and <strong>Skilled</strong>  Developers</p>
                <div class="row" style="margin-bottom: -25px;">
                    <div class="col l6 xl6 m12 s12">
                      <button type="button" @click="showClose()" class="show-rates">Rate</button>
                      <select class="browser-default" style="height: 45px;margin-top: 10px;width: 65%" v-model="country" @change="searchCountry()">
                        <option  disabled selected>Select Country</option>
                        <option v-for="(country,index) in countries" :value="country.name">[country.name]</option>
                      </select>
                      
                      <div class="set-rate" style="z-index: 4;">
                     
                        <form @submit.prevent="searchRate()">
                            <label for="">Min. Rate ($)</label>
                            <input type="number" placeholder="0" v-model="min" required>
                            <label for="">Max. Rate ($)</label>
                            <input type="number" placeholder="100" v-model="max" required>
                            <button class="btn-search-rates">Search Rate</button>
                        </form>
                      </div>
                    </div>
                    <div class="col l6 xl6 m12 s12">
                      <form @submit.prevent="searchDevs()">
                        {% csrf_token %}
                         <input type="text" v-model="search"  id="search-div"  placeholder="Search developer . . .">
                      </form>
                    </div>
                </div>
            
                {% if search and devs %}
                <p class="result-for clear">Result for: <i class="imp-txt">"{{search}}"</i> </p>
                {% endif %} <br>
              
                <div class="flex">
                 
                  {% for dev in devs %}
                  
                    <div class="flex-item">
                        <div class="card">
                            <div class="card-image p-15">
                              <img class="devDP" src="/media/{{dev.photo}}" alt="/media/{{dev.photo}}">
                              
                              <a href="javascript:void(0)"  class="devname">  {{dev.uname}} </a>
                           
                              <p class="dev-expertise">( {{dev.expertise}} )</p>
                             
                            </div>
                          
                            <div class="card-skills card-skills-max">
                              
                              <dev-skills skills="{{dev.skills}}"></dev-skills>
                              <div style="width: 100%">
                                 {% if dev.countryAbbr != '' %}
                                 <img class="flag" src="/media/flags/{{dev.countryAbbr}}"> 
                                 {% else %}
                                <!-- -->
                                 <p class="flag-na">N/A</p> 
                                 {% endif %}
                                 {% if dev.rate != '' %}
                                   <span class="rate">${{dev.rate}}</span>
                                 {% else %}
                                   <span class="rate">N/A</span>
                                 {% endif %}
                               
                              </div>
                           
                              <button type="button" class="read-more" @click="showDev('{{dev.countryAbbr}}', {{dev.rate}},'{{dev.expertise}}','{{dev.skills}}','{{dev.photo}}','{{dev.uname}}','{{dev.aboutme|escapejs}}','{{dev.resume}}')">Read More</button>
                            </div>
                          
                       </div>
                     
                    </div> 
            
                    {% empty %}
                      <p class="no-devs">No result found for <br> <i class="imp-txt">"{{search}}"</i> </p>

                    {% endfor %}
                 
                </div>
                <div class="pagination clear">
                  <span class="step-links ">
                    {% if page_obj.has_previous %}
                      <a href="?page=1" class="page1">&laquo; 1</a>
                      <a href="?page={{ page_obj.previous_page_number }}" class="page-prev">Prev</a>
                    {% endif %}
                
                  
                    {% if page_obj.has_next %}
                
                      <a href="?page={{ page_obj.next_page_number }}" class="next-page">Next</a>
                      <a href="?page={{ page_obj.paginator.num_pages }}" class="total-page"	>{{ page_obj.paginator.num_pages }} &raquo;</a>
                    {% endif %}
                    {% if devs %}
                    <span class="current current-page " id="pagenum">
                      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% endif %}
                
                  </span>
                </div> 
    
                   
              </div>
              
            </div>
            <div class="col l3 s12 m4">
                <p class="total-developers">
                  {% if total > 1%}
                  {{ total_devs }} Developers
                  {% else %}
                  {{ total_devs }} Developer
                  {%  endif %}
                </p>
                <p class="filter-by">Developers Expertise</p>
                <div class="categories">
                   
                    {% for cats in categor %}
                     
                      <a href="/developers/expertise/{{cats.expertise}}"> {{cats.expertise}}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row skills-categories-box">
          <p class="theres-a-lot"><strong>There's</strong> a <strong>Lot</strong>  of <strong>Skills Here.</strong> </p>
            <div class="col l3 xl3 m6 s12">
              <p class="devs-categories">Frontend</p>
              <ul class="categories-skills">
                {% for lang in languages %}
                  {% if lang.category == "Front-End" %}
                 <a href="/developers/skills/{{lang.language}}">{{lang.language}}</a>
                  
                  {% endif %}
                {% endfor %}
                {% for fw in frameworks %}
                  {% if fw.category == "Front-End" %}
                  <a href="/developers/skills/{{fw.framework}}">{{fw.framework}}</a>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
            <div class="col l3 xl3 m6 s12">
              <p class="devs-categories">Backend</p>
              <ul class="categories-skills">
                {% for lang in languages %}
                  {% if lang.category == "Back-End" %}
                  <a href="/developers/skills/{{lang.language}}">{{lang.language}}</a>
                  
                  {% endif %}
                {% endfor %}
                {% for fw in frameworks %}
                  {% if fw.category == "Back-End" %}
                  <a href="/developers/skills/{{fw.framework}}">{{fw.framework}}</a>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
            <div class="col l3 l3 xl3 m6 s12">
              <p class="devs-categories">Mobile</p>
              <ul class="categories-skills">
                {% for lang in languages %}
                  {% if lang.category == "Android Development" or lang.category == "iOS Development" %}
                  <a href="/developers/skills/{{lang.language}}">{{lang.language}}</a>
                  
                  {% endif %}
                {% endfor %}
                {% for fw in frameworks %}
                {% if fw.category == "Android Development" or lang.category == "iOS Development" %}
                <a href="/developers/skills/{{fw.framework}}">{{fw.framework}}</a>
                {% endif %}
              {% endfor %}
              </ul>
            </div>
           
            <div class="col l3 l3 xl3 m6 s12">
              <p class="devs-categories">Desktop</p>
              <ul class="categories-skills">
               
                {% for lang in languages %}
                  {% if lang.category == "Desktop" %}
                  <a href="/developers/skills/{{lang.language}}">{{lang.language}}</a>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
        </div>

	{% include 'html/templates/footer.html' %} 

{% endblock %}
