{% extends 'html/templates/base.html' %}


{% block main_page %}
	
	{% include 'html/templates/header.html' %}
    
        <div class="row " id="developers">
            <div class="col l9 m8 s12"  >
              <div class="bg-white">
                <p class="devs-slogan">  Well <strong>Experienced</strong>  and <strong>Skilled</strong>  Developers</p>
                <form @submit.prevent="searchDevs()">
                  {% csrf_token %}
                   <input type="text" v-model="search"  id="search-div"  placeholder="Search developer . . .">
                </form>
              
              
                <div class="row clear">
                  {% if search and devs %}
                  <p class="result-for">Result for: <i>"{{search}}"</i> </p>
                  {% endif %}
                  {% for dev in devs %}
                    <div class="col l3 m4 s12 xl3">
                        <div class="card">
                            <div class="card-image p-15">
                              <img src="/media/{{dev.photo}}" alt="/media/{{dev.photo}}">
                              <a href="javascript:void(0)"  class="devname">{{dev.uname}}

                              </a>
                              <p class="dev-expertise">( {{dev.expertise}} )</p>
                            </div>
                            <div class="card-skills card-skills-max">
                              <dev-skills skills="{{dev.skills}}"></dev-skills>
                            </div>
                       </div>
                    </div> 
                    <div class="col l3 m4 s12 xl3">
                      <div class="card">
                          <div class="card-image p-15">
                            <img src="/media/{{dev.photo}}" alt="/media/{{dev.photo}}">
                            <a href="javascript:void(0)"  class="devname">{{dev.uname}}

                            </a>
                            <p class="dev-expertise">( {{dev.expertise}} )</p>
                          </div>
                          <div class="card-skills card-skills-max">
                            <dev-skills skills="{{dev.skills}}"></dev-skills>
                          </div>
                     </div>
                  </div> 
                  
              
                    
                    {% empty %}
                      <p class="no-devs">No result found for <i class="imp-txt">"{{search}}"</i> </p>
                    {% endfor %}
                    
                                    
                <div class="pagination clear" >
                  <span class="step-links ">
                    {% if page_obj.has_previous %}
                      <a href="?page=1" class="page1">&laquo; 1</a>
                      <a href="?page={{ page_obj.previous_page_number }}" class="page-prev">Prev</a>
                    {% endif %}
                
                  
                    {% if page_obj.has_next %}
                
                      <a href="?page={{ page_obj.next_page_number }}" class="next-page">Next</a>
                      <a href="?page={{ page_obj.paginator.num_pages }}" class="total-page"	>{{ page_obj.paginator.num_pages }} &raquo;</a>
                    {% endif %}
                    {% if devs %}
                    <span class="current current-page mb-n2">
                      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% endif %}
                
                  </span>
                </div> 
               
                </div>
    
                   
              </div>
              
            </div>

            <div class="col l3 s12 m4">
                <p class="total-developers">
                  {% if total > 1%}
                  {{ total_devs }} Developers
                  {% else %}
                  {{ total_devs }} Developer
                  {%  endif %}
                </p>
                <p class="filter-by">Developers Expertise</p>
                <div class="categories">
                    
                    {% for cats in categor %}
                     
                      <a href="/developers/expertise/{{cats.expertise}}"> {{cats.expertise}}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row skills-categories-box">
          <p class="theres-a-lot"><strong>There's</strong> a <strong>Lot</strong>  of <strong>Skills Here.</strong> </p>
            <div class="col l3 xl3 m6 s12">
              <p class="devs-categories">Frontend</p>
              <ul class="categories-skills">
                {% for lang in languages %}
                  {% if lang.category == "Front-End" %}
                 <a href="/developers/skills/{{lang.language}}">{{lang.language}}</a>
                  
                  {% endif %}
                {% endfor %}
                {% for fw in frameworks %}
                  {% if fw.category == "Front-End" %}
                  <a href="/developers/skills/{{fw.framework}}">{{fw.framework}}</a>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
            <div class="col l3 xl3 m6 s12">
              <p class="devs-categories">Backend</p>
              <ul class="categories-skills">
                {% for lang in languages %}
                  {% if lang.category == "Back-End" %}
                  <a href="/developers/skills/{{lang.language}}">{{lang.language}}</a>
                  
                  {% endif %}
                {% endfor %}
                {% for fw in frameworks %}
                  {% if fw.category == "Back-End" %}
                  <a href="/developers/skills/{{fw.framework}}">{{fw.framework}}</a>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
            <div class="col l3 l3 xl3 m6 s12">
              <p class="devs-categories">Mobile</p>
              <ul class="categories-skills">
                {% for lang in languages %}
                  {% if lang.category == "Android Development" or lang.category == "iOS Development" %}
                  <a href="/developers/skills/{{lang.language}}">{{lang.language}}</a>
                  
                  {% endif %}
                {% endfor %}
                {% for fw in frameworks %}
                {% if fw.category == "Android Development" or lang.category == "iOS Development" %}
                <a href="/developers/skills/{{fw.framework}}">{{fw.framework}}</a>
                {% endif %}
              {% endfor %}
              </ul>
            </div>
           
            <div class="col l3 l3 xl3 m6 s12">
              <p class="devs-categories">Desktop</p>
              <ul class="categories-skills">
               
                {% for lang in languages %}
                  {% if lang.category == "Desktop" %}
                  <a href="/developers/skills/{{lang.language}}">{{lang.language}}</a>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
        </div>

	{% include 'html/templates/footer.html' %} 

{% endblock %}
