{% extends 'html/templates/login_signup_base.html' %}

{% block login_signup_verify %}

            <div id="enternewpass">
                <form action="/changedpassword" method="POST">
                    {% csrf_token %}
                    <p> -- Change Password --</p>
                    <label for="">New Password</label>
                    <input type="password" name="password"  placeholder="Enter new password . . ." minlength="8" required>
                    <label for="">Re-type Password</label>
                    <input type="password" name="retypepassword"  placeholder="Re-type password . . ." required>  
                    <button type="submit" class="btn-submit">Submit</button>
                    {% if messages %}

                            <ul class="messages">   
                                {% for message in messages %}
<!--                                   
                                   <li {% if message.tags == 'info' %} class="error-msg {{ message.tags }}"{% endif %}> <span class="fa fa-exclamation"></span>  {{message}}</li> 
                                   <li {% if message.tags == 'info' %} class="error-msg {{ message.tags }}"{% endif %}> <span class="fa fa-exclamation"></span>  {{message}}</li>  -->
                                    {% if message.tags == 'info' %}
                                        <li  class="error-msg {{ message.tags }}"> {{message|safe}}</li> 
                                    {% else %}
                                        <li  class="success-msg {{ message.tags }}"> {{message}}
                                                <!-- <br> <br>
                                                <a href="/login/user" class="login-now">Login</a>
                                                <br>
                                                <br> -->



                                        </li> 
                                    {% endif %}
                                {% endfor %}
                               
                            </ul>

                    {% endif %}
                    <!-- <li  class="success-msg "> 
                        <a href="" class="login-now">Login</a>

                                            

                    </li>  -->
                </form>
            </div>
 
{% endblock %}