{% extends 'html/templates/base.html' %}

{% block main_page %}
	{% include 'html/templates/header.html' %}
			
			<p class="for-free">Download Projects for Free <span class="fa fa-download"></span></p>
			{% for d in duplicates%}
					{{d.language}}
			{% endfor %}
			<div class="row mt-n3">
				<div class="col l2 m3 s12 xl2" id="projects">
					 <button id="close-show">&times;</button>
					 <p class="languages">Languages</p> 
					<ul>
                        {% for lang in languages %}
                        {% if lang.language != toSearch %}
                        <li> <a href="/filterProjects/{{lang.language}}">{{lang.language}}</a> </li>
                        {% endif %}
						{% endfor %}
					</ul>
				</div>
				<div class="col l7 m9 s12 xl7">
				
					<button id="btn-languages">Languages</button>
					<div>
						<input type="text" id="search-project" placeholder="Search project . . ." class="dropbtn">
						
					</div>
					<div class="projects-div clear-float">
						{% for project in projects %}
						<div class="project-box">
							<a href="viewProject/{{project.id}}" class="app-title">{{ project.project_name }}</a>
							<div class="project-container">
							 <div class="project-img"><img src="/media/{{project.photo}}" style="border: 1px solid white"></div>
								 <div  style="margin-left: 10px;">
									<p style="margin-top: -5px;font-size: 18px;word-wrap: break-word;" >{{ project.about|safe }}</p>
								</div> 
								
							</div>
							<!-- <div class="about-project">
								{{ project.about|safe }}
							</div> -->
							
								<div class="project-info-btn">
									{% if project.downloads > 1%}
									<button >{{project.downloads}} Downloads </button>
									{% else %}
									<button >{{project.downloads}} Download </button>
									{% endif %}
									{% if project.views > 1%}
									<button>{{project.views}} Views</button>
									{% else %}
									<button>{{project.views}} View</button>
									{% endif %}
								
								</div>
								
								<a href="download/{{ project.project_name }}" class="download-app"> <span class="fa fa-download"></span></a>								
						</div>
						{% endfor %}
						<div class="pagination">
							<span class="step-links">
								{% if page_obj.has_previous %}
									<a href="?page=1" style="font-size: 20px;margin-right: 10px;">&laquo; 1</a>
									<a href="?page={{ page_obj.previous_page_number }}" style="font-size: 20px;margin-right: 20px">Prev</a>
								{% endif %}
						
							
								{% if page_obj.has_next %}
						
									<a href="?page={{ page_obj.next_page_number }}" style="font-size: 20px;margin-right: 10px">Next</a>
									<a href="?page={{ page_obj.paginator.num_pages }}" style="font-size: 20px"	>{{ page_obj.paginator.num_pages }} &raquo;</a>
								{% endif %}
								<span class="current" style="color:rgb(92, 138, 138);font-size: 18px;padding: 1%;border-radius: 0.5rem;float: right;">
									Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
								</span>
						
							</span>
						</div>  
					
					</div>
					
            
				</div>
				<div class="col l3 m12 s12 xl3">

					<p class="trends">Popular Projects</p>
					<ul class="trending-projects">
						{% for app in apps %}
						<li><a href="viewProject/{{app.id}}">{{app.project_name}}</a></li>
						{% endfor %}
					</ul>
					<p class="trends">Newest Projects</p>
					<ul class="trending-projects">
						{% for app in new_apps %}
						<li><a href="viewProject/{{app.id}}">{{app.project_name}}</a></li>
						{% endfor %}
					</ul>
				</div>
			</div>

	{% include 'html/templates/footer.html' %}

{% endblock %}