{% extends 'html/templates/base.html' %}


{% block main_page %}
	
	{% include 'html/templates/header.html' %}
	
	<div class="row mt-1">
		<div class="col s12 m12 xl8 l8">
			<div class="row mb-n3" >
				<div class="col l6 m5 s12">
					<form id="form-filter-question">
						 <!--  <label  class="filter-by">Search by:</label> -->

						  <select class="browser-default">
							<option value="" disabled selected>Search by Language</option>
							{% for lang in languages %}
							<option>{{lang.language}}</option>
							{% endfor %}
						  </select>
					</form>
				</div>
				<div class="col l6 m7 s12">
					<form id="search-question">
						<input type="text" name="" placeholder="Search for question">
					</form>
				</div>

			</div>
			<!-- <strong>Questions</strong> -->
			<ul class="questions-box">
				{% for question in questions %}
				<li class="question">
					<a href="viewQuestion/{{question.id}}">{{ question.question }}</a> <br>
					<cite style="">by: Jereco James Piso <i>(2 weeks ago)</i></cite>
					<div class="infos">
						<span class="fa fa-comments comments" style=""></span><b class="question-info">  {{ question.likes }}</b> 
							<b class="question-info"><span class="fa fa-thumbs-up likes" style=""></span> {{ question.likes }}</b>
					</div>
				
				</li>
				{% endfor %}
			
			</ul>
			<div class="pagination">
				<span class="step-links">
					{% if page_obj.has_previous %}
						<a href="?page=1" style="font-size: 20px;margin-right: 10px;">&laquo; 1</a>
						<a href="?page={{ page_obj.previous_page_number }}" style="font-size: 20px;margin-right: 20px">Prev</a>
					{% endif %}
			
				
					{% if page_obj.has_next %}
			
						<a href="?page={{ page_obj.next_page_number }}" style="font-size: 20px;margin-right: 10px">Next</a>
						<a href="?page={{ page_obj.paginator.num_pages }}" style="font-size: 20px"	>{{ page_obj.paginator.num_pages }} &raquo;</a>
					{% endif %}
					<span class="current" style="font-size: 18px;padding: 1%;border-radius: 0.5rem;float: right;">
						Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
					</span>
			
				</span>
			</div>  
			
		</div>
		<div class="col s12 m12 xl4 l4">
			<div class="questions-total">
				{% if total_questions > 1 %}
						{{total_questions}} Questions
				{% else %}

						{{total_questions}} Question

				{% endif %}
			</div>
			<p class="question-categories">Question Categories:</p>
				<ul class="categories">
					{% for cat in question_cat %}
					<a href="">{{cat.category}}</a>
				
					{% endfor %}
				</ul>
			<p class="filter-p">Filter:</p>
			<div class="questions-btn">

				<button>Latest</button>
				<button>Answered Questions</button>
				<button>Most Viewed</button>

			</div>
		</div> 
	</div>


	{% include 'html/templates/footer.html' %} 

{% endblock %}
