{% extends 'html/templates/base.html' %}


{% block main_page %}
   {% include 'html/templates/header.html' %}

   	<div  id="signup" style="margin-top: -1px;">
   		<div class="img-container">
        <!-- <p class="slogan">We CODE As ONE</p>  -->
        <p class="slogan">A Place for Coders</p>
        
   			<img class="img mt" src="/media/slider.jpg" width="100%" height="500px">
   		  
            <form id="form" v-on:submit.prevent="register()">
              {% csrf_token %}
            
               <p class="form-title">codeUnity</p>
               <label> Username</label>
               <input type="text" v-model="signupInfo.username" required>
               <label> Email</label>
               <input  type="email" v-model="signupInfo.email" required>
            
                <label>Password</label>
               <input type="password" v-model="signupInfo.password" required>
                <label>Re-type password </label>
               <input type="password" v-model="signupInfo.password2" required>
      
               <button type="submit" class="btn-signup">Signup</button>
               <p class="center-align error" v-if="error">[error]</p>
               <p class="center-align success" v-if="success">[success]</p>
            </form>
   		</div>
   	</div>
      
      <div class="slogan-2">
           A Helpful Platform for Developers <br>
           <span>Upload/Download projects, Post/Answer questions.</span>
           
      </div>

      <div class="row boxes">   
        <!-- <h2 id="slogan-2">Let's help each other be a<br> good developer.</h2> -->
        <div class="col l4 xl4 m6 s12">
           <div class="total-devs mt-5">
            
                
               <p class="m-0"> {{total_devs}} </p>
                <strong style="font-size: 25px">
                  {% if total_devs == '1' %}
                    Developer
                  {% else %}
                    Developers
                  {% endif %}
                </strong>              
            </div>
          
        </div>
        <div class="col xl4 l4 m6 s12">
           <div class="total-apps mt-5">
           
              <p class="m-0 "> {{total_projects}} </p>
              <strong style="font-size: 25px">
                  {% if total_projects == '1' %}
                     Project
                  {% else %}
                     Projects
                  {% endif %}
              </strong>     
            </div>
    
        </div>
        <div class="col xl4 l4 m6 s12">
           <div class="total-jobs mt-5">
            
                  <p class="m-0 "> 20,000 </p>
                  <strong style="font-size: 25px">
                      {% if total_projects == '1' %}
                      Question
                      {% else %}
                         Questions
                      {% endif %}
                  </strong>     

             </div>
        </div>
      </div>
    
      <div class="row tops">
      
         <div class="col s12 m12 l6 xl6">
            <p class="top-downloads">Most Popular Projects</p>
            <ul id="collection" class="collection">
              {% for app in apps %}
               <li class="collection-item">{{ forloop.counter }}. {{ app.project_name }} 
                <a href="download/{{ app.project_name }} " class="fa fa-download right"></a>  
                <span class="right">{{app.downloads}} Downloads</span></li>
              {% endfor %}
             </ul>
        
         </div>
           <div class="col s12 m12 l6 xl6" style="">
            <p class="top-downloads">Top Languages</p>
            <ul id="top-languages-collection"  class="collection">
               <li class="collection-item">NodeJS  <a href="#" class="right"><span class="fa fa-eye"></span></a> <span class="right">1000+ Projects</span> 
                 
               </li>
               <li class="collection-item">Laravel <a href="#" class="right"><span class="fa fa-eye"></span></a><span class="right">1000+ Downloads</span></li>
             </ul>
           
         </div>
      </div>

       <!--  Developers Section -->
      <!-- <div class="row">
         <div class="col s12">
             <p class="developers">Top Developers</p>

             <div class="row">
              {% for dev in developers %}
                <div class="col s12 m3">
                     <div class="card">
                        <div class="card-image">
                          <img src="/media/dep.jpg" height="250px">
                          <span class="card-title dev-name">{{ dev.uname }}</span>
                        </div>
                        <div class="card-content">
                          <p>Sanaol Bina Bio</p>
                        </div>
                        <div class="card-action">
                          <a href="#">See uploads...</a>
                        </div>
                   </div>
                </div>
                {% endfor %}
                
             </div>
                  
         </div>

      </div> -->

   {% include 'html/templates/footer.html' %}
{% endblock %}
