{% extends 'html/templates/base.html' %}


{% block main_page %}
   {% include 'html/templates/header.html' %}
   <!-- {% load date_converter %} -->
   	<div  id="signup" style="margin-top: 40px;">
   		<div class="img-container">
        <!-- <p class="slogan">We CODE As ONE</p>  -->
        <p class="slogan">A Place for Coders</p>
        
   			<img class="img mt" src="/media/slider.jpg" width="100%" height="500px">
   		   <form id="form" action="register" method="POST">
               {% csrf_token %}
               
                <p class="form-title">codeUnity</p>
              
                <label> Username</label>
                <input type="text" name="username" v-model="signupInfo.username" @keyup="usernameMonitor" required >
                <label> Email</label>
                <input  type="email" name="email" v-model="signupInfo.email" @keyup="emailMonitor"  required>
             
                 <label>Password</label>
                <input type="password" name="password" v-model="signupInfo.password" @keyup="passwordMonitor" required>
             
                 <label>Re-type password </label>
                <input type="password" name="password2"  v-model="signupInfo.password2"  @keyup="password2Monitor" required>
       
                <button type="submit" class="btn-signup"   :disabled="btnDisable">Signup</button>
                <p style="font-size: 13px" class="center-align error" v-html="error"></p>
                {% if messages %}
              
                    {% for message in messages %}
                    <p {% if message.tags %} class="center-align error2"{% endif %}>{{ message }}</p>
                    {%endfor %}
              
                {% endif %}
               
             </form>
             

   		</div>
      </div>
      <div class="bg-color">
         <div class="slogan-2">
         
               
            A Helpful Platform for Developers <br>
        
            
       </div>

       <div class="row cards-row" >
          <div class="col l4 m6 s12">
             <div class="card card-min-height" style="border: 0.5px solid rgba(153, 153, 153,0.6)">
                <div class="card-content">
                   <img src="/media/updown.png" class="card-logos upload-download">
                   <div class="card-desc">
                     Upload projects that you want to share with other developers. <br>
                     Download projects that you will study for,  to hone your skills.
                   </div>
                </div>             
          </div>
      
          </div>
          <div class="col l4 m6 s12">
             <div class="card card-min-height" style="border: 0.5px solid rgba(153, 153, 153,0.6)">
                <div class="card-content">
 
                   <img src="/media/qa.jpg" class="card-logos qa">
                      <div class="card-desc">
                         Post a question about the problem you encounter in your project, studies, etc. <br>
                         Help other developers solve their problems by answering there questions.
                      </div>                 
                </div>
               
          </div>
      
          </div>
          <div class="col l4 m6 s12">
             <div class="card card-min-height" style="border: 0.5px solid rgba(153, 153, 153,0.6)">
                <div class="card-content">   
                   <img src="/media/s.png" class="card-logos find-dev">
                      <div class="card-desc">
                        Find a developer and see their profile, work-experience, skills etc. <br>
                        
                      </div>    
                </div>
               
          </div>
      
          </div>
       </div>
      </div>
     

   {% include 'html/templates/footer.html' %}
{% endblock %}
