{% extends 'html/templates/login_signup_base.html' %}

{% block login_signup_verify %}
		
		
				<div class="form" id="login">
					<form action="/userLogin/{{redirect}}" method="POST" id="login-form" >
						{% csrf_token %}
					
					
						<p class="form-title">codeUnity</p>
						<div>
					
							<label>Email</label>
							<input type="email" class="login-input" name="email" required autocomplete="email">
							<label>Password</label>
							<input type="password" name="password" required>
							<button type="submit" id="btn-login">Login</button>
                            {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                <li{% if message.tags %} class="center-align {{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
         
							<p class="mt-7"><a href="" id="forgot-password">Forgot password?</a></p>
							
						
							<a href="/signup/{{redirect}}" id="signup-link">Create an account</a>
						</div>				
					</form>
				</div>
			
{% endblock %}