{% extends 'html/templates/base.html' %}

{% block main_page %}
	{% include 'html/templates/header.html' %}
	
			<div class="project-container-box">
				<div class="languages-box">
					
					<button id="close-show">&times;</button>
					<!-- <div class="download">
						<button @click="download()">Download</button>
					</div> -->
					<div id="languages">
					
					
						<p class="languages">Frontend </p>
						 {% for lang in languages %}	
						 	{% if lang.category == "Front-End" %}
							<li class="lang" id="{{lang.language}}"> <a href="/projects/language/{{lang.language}}">{{lang.language}} </a> </li>
						 	{% endif %}
						{% endfor %}
						{% for fw in frameworks %}	
							{% if fw.category == "Front-End" %}
								<li class="lang" id="{{fw.framework}}"> <a href="/projects/language/{{fw.framework}}">{{fw.framework}}</a> </li>
							{% endif %}
				   		{% endfor %}
						<p class="languages">Backend </p>
						 {% for lang in languages %}	
						 	{% if lang.category == "Back-End" %}
							<li class="lang" id="{{lang.language}}"> <a href="/projects/language/{{lang.language}}">{{lang.language}}  </a> </li>
						 	{% endif %}
						{% endfor %}
						{% for fw in frameworks %}	
							{% if fw.category == "Back-End" %}
								<li class="lang" id="{{fw.framework}}"> <a href="/projects/language/{{fw.framework}}">{{fw.framework}}</a> </li>
							{% endif %}
					    {% endfor %}
						<p class="languages">Mobile </p>
						{% for lang in languages %}	
							{% if lang.category == "Android Development" %}
						   <li class="lang" id="{{lang.language}}"> <a href="/projects/language/{{lang.language}}">{{lang.language}} </a> </li>
							{% endif %}
					   {% endfor %}
					   {% for fw in frameworks %}	
						{% if fw.category == "Android Development" %}
							<li class="lang" id="{{fw.framework}}"> <a href="/projects/language/{{fw.framework}}">{{fw.framework}}</a> </li>
						{% endif %}
					   {% endfor %}
					   {% for lang in languages %}	
					   {% if lang.category == "iOS Development" %}
					  	<li class="lang" id="{{lang.language}}"> <a href="/projects/language/{{lang.language}}">{{lang.language}} </a> </li>
					   {% endif %}
						{% endfor %}

						{% for fw in frameworks %}	
						{% if fw.category == "iOS Development" %}
							<li class="lang" id="{{fw.framework}}"> <a href="/projects/language/{{fw.framework}}">{{fw.framework}}</a> </li>
						{% endif %}
						{% endfor %}

					   <p class="languages">Desktop </p>
					   {% for lang in languages %}	
						   {% if lang.category == "Desktop" %}
						  <li class="lang" id="{{lang.language}}"> <a href="/projects/language/{{lang.language}}">{{lang.language}}  </a> </li>
						   {% endif %}
					  {% endfor %}
					   {% for fw in frameworks %}	
						{% if fw.category == "Desktop" %}
							<li class="lang" id="{{fw.framework}}"> <a href="/projects/language/{{fw.framework}}">{{fw.framework}}</a> </li>
						{% endif %}
					   {% endfor %}
			
				</div>
				</div>
				<div class="projects-box" >
					<div class="project-box-white-bg" style="padding-bottom: 20px;">
				 
				 <p class="total_project_uploaded"> <b class="">( {{total_project}} )</b>   {% if total_project > 1 %}
					<b class="bold-color">Source Codes</b> 
				{% else %}
				<b class="bold-color">Code</b>
					
				{% endif %}  for <b class="bold-color">Free</b>  </p>
					<button id="btn-languages" >Languages</button>
				
					<form @submit.prevent="searchProjects()" style="margin-top: 10px">
						{% csrf_token %}
						<input type="text" id="search-project" placeholder="Search project . . ." v-model="searchValue">
						<button type="submit" class="searchBtn"><span class="fa fa-search" style="font-size: 23px;opacity: 0.7;"></span></button>
					</form>
					<div class="projects-div clear-float">
						{% if toSearch and  projects %}
						<p class="result-for">Result for: <i>"
							{{toSearch}}"</i> </p>
						{% endif %}
						{% for project in projects %}
						<div class="project-box">
							
							<a href="/project/{{project.project_name}}" class="app-title">{{ project.project_name }}</a>
							 <p class="poster-name">Posted by: <strong>Jereco James Piso</strong> (<date-posted :posted="'{{project.date}}'"></date-posted>)</p>
							
							
							<div class="project-container">
							 <div class="project-img"><img src="/media/{{project.photo}}" style="border: 1px solid white"></div>
								 <div>
									
									<p style="margin: 0;font-size: 18px" >{{ project.about|safe }}</p>
									
								</div> 
								
							</div>
					
								<!-- <my-componente skills="{{project.project_name}}"></my-componente> -->
								<div class="project-info-btn" id="download">
									{% if project.downloads > 1%}
									<button id="{{project.project_name}}">{{project.downloads}} Downloads </button>
									{% else %}
									<button id="{{project.project_name}}">{{project.downloads}} Download </button>
									{% endif %}
									{% if project.views > 1%}
									<button>{{project.views}} Views</button>
									{% else %}
									<button>{{project.views}} View</button>
									{% endif %}
									<!-- href="/download/{{ project.project_name }}" -->
									<!-- <button  @click="download('{{project.project_name}}')" class="download-app"> <span class="fa fa-download"></span></button>								 -->
								</div>
								
						
						</div>
						{% empty %}

						
						<p class="no-projects"> {% if toSearch %}  No  project/s  found for  <strong class="imp-txt"><i>"{{ toSearch }}"</i> </strong>  {% else %} There's no <strong class="imp-txt">Project/s</strong> uploaded this time.   {% endif %}</p>
						{% endfor %}
						{% if projects %}
						<div class="pagination">
							<span class="step-links">
								{% if page_obj.has_previous %}
									<a href="?page=1" style="font-size: 20px;margin-right: 10px;">&laquo; 1</a>
									<a href="?page={{ page_obj.previous_page_number }}" style="font-size: 20px;margin-right: 20px">Prev</a>
								{% endif %}
						
							
								{% if page_obj.has_next %}
						
									<a href="?page={{ page_obj.next_page_number }}" style="font-size: 20px;margin-right: 10px">Next</a>
									<a href="?page={{ page_obj.paginator.num_pages }}" style="font-size: 20px"	>{{ page_obj.paginator.num_pages }} &raquo;</a>
								{% endif %}
							
								
							
						
							</span>
							<span class="current" style="margin-top: 0;color:rgb(92, 138, 138);font-size: 18px;padding: 1%;border-radius: 0.5rem;float: right;">
								Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
							<span>	
						</div>  
						{% endif %}
					</div>
				</div>
				</div>
				<div class="trending-box">
					<div class="trending-box-bg-white">
						<!-- <p style="font-size: 20px;font-family: sans-serif;margin-top: 10px;margin-bottom: 1px">
							Download projects for free</p> -->
						<button class="upload-code">Upload Source Code</button>
						<p class="trends popular-projects">Popular</p>
						<ul class="trending-projects">
							{% for app in apps %}
							<li><a href="/project/{{app.project_name}}">{{app.project_name}}</a></li>
							{% endfor %}
						</ul>
						<p class="trends">Newest</p>
						<ul class="trending-projects">
							{% for app in new_apps %}
							<li><a href="/project/{{app.project_name}}">{{app.project_name}}</a></li>
							{% endfor %}
						</ul>
				  </div>
				</div>

			</div>
			<!-- <p class="for-free" style="margin-top: 70px;">Download Projects for Free <span class="fa fa-download"></span></p> -->
		
		
	{% include 'html/templates/footer.html' %}

	
{% endblock %}