{% extends 'html/templates/base.html' %}


{% block main_page %}
	
	{% include 'html/templates/header.html' %}
	<!-- <div class="LoginModal">
		<div class="LoginModalWrapper">
			<div class="ModalHeader">
				<button class="closeModal">&times;</button>
			</div>
			<div class="ModalBody">
				<form id="LoginForm">
					<p class="form-title">codeUnity</p>
					<label>Email</label>
					<input type="email" >
					<label style="margin-top: -50px">Password</label>
					<input type="text" >
					<button type="submit">Login</button>
					<p class="dont-have">Don't have an account?</p>
				</form>
			</div>
		</div>
	</div> -->
	<div class="row row-mt">
		<div class="col s12 m12 xl8 l8">
			<div  id="question-box">
				
			<div class="questions-total-small-device">
				{% if total_questions > 1 %}
						{{total_questions}} Questions to be Answered
				{% else %}

						{{total_questions}} Question to be Answered

				{% endif %}
			</div>
			<p class="feel-free"> Feel Free to Ask Question <a href="/login/ask" id="ask-btn">Ask Now</a></p>
			
			<div style="padding-left: 2px;padding-right: 2px;clear: both;margin-top: 10px" id="searchQuestion">
				<select id="form-filter-categories" class="browser-default" v-model="category" @change="getCategory()">
					<option value="" disabled selected>Categories</option>
					{% for cat in question_cat %}
					<option>{{cat.category}}</option>
					{% endfor %}
				  </select>
		
				  <form id="search-question"  @submit.prevent="searchQuestion()">
					{% csrf_token %}
					<input type="text" v-model="searchValue"  placeholder="Search for question">
				</form>
			</div>
			
			<!-- <strong>Questions</strong> -->
			<ul class="questions-box " id="ques">
				{% for question in questions %}
				<li class="question">
					<a href="/question/{{question.id}}">{{ question.question }}</a> <br>
					<cite class="time-counter">by: Jereco James Piso <i style="font-size: 10px;"><date-posted posted="{{question.date}}"></date-posted></i></cite>
					<div class="infos">
						<span class="fa fa-comments comments"></span><b class="question-info">  {{ question.comments }}</b> 
						<b class="question-info"><span class="fa fa-eye likes" ></span> {{ question.views }}</b>
					</div>
					<cite style="font-style: normal;">Tags</cite>

					
					<my-component skills="{{question.tags}}"></my-component>
				
				
				</li>
				{% empty %}
					<h5 style="text-align: center;">No result found for  {% if toSearch %} <i class="imp-txt">"{{ toSearch }}"</i> {% endif %} </h5>
				{% endfor %}
		
			</ul>
			<div class="pagination">
				<span class="step-links">
					{% if page_obj.has_previous %}
						<a href="?page=1" style="font-size: 20px;margin-right: 10px;">&laquo; 1</a>
						<a href="?page={{ page_obj.previous_page_number }}" style="font-size: 20px;margin-right: 20px">Prev</a>
					{% endif %}
			
				
					{% if page_obj.has_next %}
			
						<a href="?page={{ page_obj.next_page_number }}" style="font-size: 20px;margin-right: 10px">Next</a>
						<a href="?page={{ page_obj.paginator.num_pages }}" style="font-size: 20px"	>{{ page_obj.paginator.num_pages }} &raquo;</a>
					{% endif %}
					{% if questions %}
					<span class="current" style="opacity: 0.6; font-size: 18px;padding: 1%;border-radius: 0.5rem;float: right;margin-top: -10px">
						Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
					</span>
					{% endif %}
			
				</span>
			</div>  
		  </div>	
		</div>
		<div class="col s12 m12 xl4 l4">
			<div class="questions-total-large-device">
				{% if total_questions > 1 %}
						{{total_questions}} Questions
				{% else %}

						{{total_questions}} Question

				{% endif %}
			</div>
		
			<p class="filter-p">Filter</p>
			<div class="questions-btn">

				<a href="/questions/filter/latest">Latest</a>
				<a href="/questions/filter/answered">Answered</a>
				<a href="/questions/filter/unanswered">Unanswered</a>
			</div>
		</div> 
	</div>


	{% include 'html/templates/footer.html' %} 

{% endblock %}
