{% extends 'html/templates/login_signup_base.html' %}

{% block login_signup_verify %}
		<div class="form" id="signup">

			<form id="signup-form" action="/register" method="POST">
				{% csrf_token %}
				<p class="form-title">codeUnity</p>
				<div>
	
                     {% csrf_token %}
        
					<label> Username</label>
					<input type="text" name="username" v-model="signupInfo.username" @keyup="usernameMonitor" required >
					<label> Email</label>
					<input  type="email" name="email" v-model="signupInfo.email" @keyup="emailMonitor"  required>
				
					<label>Password</label>
					<input type="password" name="password" v-model="signupInfo.password" @keyup="passwordMonitor" required>
				
					<label>Re-type password </label>
					<input type="password" name="password2"  v-model="signupInfo.password2"  @keyup="password2Monitor" required>
                  
					<button type="submit" class="mb-15" id="btn-signup" :disabled="btnDisable">Signup</button>
				
					<p style="font-size: 13px" class="center-align error" v-html="error"></p>
					{% if messages %}
				
						{% for message in messages %}
						<p {% if message.tags %} class="center-align error2"{% endif %}>{{ message }}</p>
						{%endfor %}
				
					{% endif %}
					
					<a href="/login/user" id="login-link">Already have an account?</a>
					
				</div>				
			</form>	

		</div>
				
			
{% endblock %}