{% extends 'html/templates/login_signup_base.html' %}

{% block login_signup_verify %}
	
			<div class="form" id="verify">
					<form @submit.prevent="verify()" id="verify-form" >
						{% csrf_token %}
						<div>
							<p class="site-name">codeUnity</p>
							<label>Verification code</label>
							<input type="number" name="code" v-model="verifyInfo.code" required>
							
							<button type="submit" id="btn-verify">Verify</button>
							<a href="login">Re-send verification code</a>
						
						</div>				
					</form>
				</div>

{% endblock %}