{% extends 'html/templates/base.html' %}

{% block main_page %}

    {% if request.session.loggin %}

    <div class="header header-extra-style"><a id="site-nameMobile" >codeUnity </a><button id="open"><span class="fa fa-bars"></span></button>
	
        <ul id="top-nav">
            
                <a id="site-name">codeUnity </a>
                <!-- <li><a  class="showSearch"><span class="fa fa-search font-size-25"></span></a></li> -->
                <li id="for-mobile-nav-logo"><button id="close" style="margin-top: -0.4em;"><span class="fa fa-bars"></span></button></li>
                <li><a href="/logout/viewQuestion={{post_id}}"> Logout</a></li>
              
             
    
         </ul>
         
    </div>

    {% else %}

    <div class="header header-extra-style"><a id="site-nameMobile" >codeUnity <span class="showSearch fa fa-search" style="margin-left: 10px;font-size: 25px;"></span></a><button id="open"><span class="fa fa-bars"></span></button>
	
        <ul id="top-nav">
            
                <a id="site-name">codeUnity </a>
                <li><a  class="showSearch"><span class="fa fa-search font-size-25"></span></a></li>
                <li id="for-mobile-nav-logo"><button id="close"><span class="fa fa-bars"></span></button></li>
                 <li><a href="/login/viewQuestion={{post_id}}"> Login</a></li>
                 <li><a href="/developers"> Find Developer</a></li>
                <li><a href="/questions"> <!--  <span class="fa fa-question-circle"></span> --> Questions</a></li>
           
                <li><a href="/projects"> <!-- <span class="fa fa-folder"></span> --> Projects</a></li>
                
            <li><a href="/">Home</a></li>
    
         </ul>
         
    </div>
  
    <div class="row search-section">
       
        <button class="x">&times;</button><br>
       <div class="col s12" id="search">
          
          <button class="search-btn"><span class="fa fa-search"></span></button><input placeholder="Search . . . ">
         <select id="search-cat">
             <option value="" disabled selected>Search by:</option>
             <option value="1">Projects</option>
             <option value="2">Questions</option>
         </select> 
    
       </div>
       
    
    
    </div>

    {% endif %}
   
   
    <div class="row question-box">

        <div class="col l8 s12 m8">
             
            <div class="my-project">
                <h5 class="project-title">{{question.question}}</h5>
                <!-- <cite>by: Jereco James Piso</cite> <br> -->
                <cite class="time-counter">Posted by: <b>{{poster_name}} </b><date-posted posted="{{question.date}}"></date-posted></cite>
                 
              
              
                <input type="hidden" id="cd" value="{{question.code}}">
                <input type="hidden" id="lang" value="{{question.language}}">
                <input type="hidden" id="viewQuestion" value="{{request.session.loggin}}">
                <div id="app" class="mt-10">
                   
                    <prism-editor  class="my-editor" readonly v-model='ques_code'  :highlight="highlighter">
                        
                    </prism-editor>
                  
                    <span  class="fa fa-comments comments comments-logo"></span><b id="totalComments">{{question.comments}}</b>
                    <button class="view-logo"><span class="fa fa-eye"></span></button>
                    {{question.views}}
                   
                </div>
             
                <ul class="comments clear" id="comment-section" >
                    {% if request.session.id %}
                    <div class="MyModal" id="deleteModall">
                        <div class="ModalDialog">
                            <div class="ModalHeaderAlert">
                                <span class="fa fa-exclamation"></span>
                            </div>
                            <div class="ModalContent">
                                <p>Are you sure you want to delete this [ promptMsgExtension ]!</p>
                            </div>
                            <div class="ModalFooter">
                                <button class="btn-ok" @click="toDelete()">OK</button>
                                <button class="btn-cancel" @click="showHideDeleteModal('hide');">Cancel</button>
                                
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if request.session.id %}
                    <div class="MyModal" id="replyModall">
                        <!-- -->
                        <div class="ModalDialog">
                            <div class="ModalHeader">
                                <img src="/media/{{request.session.photo|slice:'1:-1'}}" class="reply-dp">
                                <p class="reply-name">{{request.session.username}}</p>
                                <button @click="showHideReplyModal('hide');"> &times;</button>
                            </div>
                            <div class="ModalContent">
                                
                                <form>
                                    {% csrf_token %}
                                <textarea v-model="replyInfo.reply" id="comment-txt" cols="30" rows="20" placeholder="Write something . . ." required></textarea>
                            </div>
                            <div class="ModalFooter">
                                <button type="button" class="btn-post" @click="secComment()">Reply</button>
                            </form>
                            </div>
                        </div>
                    </div>		
                    {% endif %}
                
                    <p class="flash-msg">[flashMsg]</p>
    
                    <div v-for="(info,index) in commentInfo" :key="info.id">
                      
                        
                        <img :src="srcImg+info.photo" class="commentor-dp">
                        <div class="commentor"> <p class="commentor-name">[info.uname] <cite  class="date-posted"> <date-posted :posted="info.date"></date-posted> </cite> </p>
                           
                            <div class="comment">
                                [info.comment] 
                               
                            </div>
                            
                           
                            <prism-editor v-if="info.answer"  class="my-editor2" readonly v-model='code=info.answer' :highlight="highlighter">
                            </prism-editor>
                          
                          
                            <span class="fa fa-check answer" v-if="showCheckMark[index] == 'true'"></span> 
                            
                            
                            <!-- <span class="fa fa-check answer"></span> -->
                           
                        </div>        
                
                        <div class="sec-comments" v-for="(reply,replyIndex) in (rep=reply(replies,info.id))">
                            
                            <div v-if="replyIndex < 5">
                                <img :src="srcImg+reply.photo" class="commentor-dp">
                                <div class="commentor"> <p class="commentor-name">[reply.uname] <cite class="date-posted"><date-posted :posted="reply.date"></date-posted></cite> <br></p>
                                    <p class="comment" >[reply.reply] <br>
                                        
                                        
                                        <!-- <br> -->
                                      
                                    </p>
                                    {% if request.session.loggin %}
                                    <button  class="delreply" v-if="reply.commentor == {{request.session.id}} || info.commentor == {{request.session.id}} || {{question.asker_id}} == {{request.session.id}}" @click="showHideDeleteModal('show');commentIndex = replyIndex; promptMsgExtension = 'reply';replyId = reply.id;questionId = reply.post_id;popUpAlert = true;actionToPerform = 'deleteReply'"><span class="fa fa-trash"></span></button>
                                    <!-- <button class="set-as-answered-reply ml-10"> <span class="fa fa-check"></span> </button> -->
                                {% endif %}
                                    
                                </div>       
                               
                            </div>  
                            <div v-else-if="replyIndex == 5">
                                <div v-if="lim[index] == 'true'">
                                    <img :src="srcImg+reply.photo" class="commentor-dp">
                                    <div class="commentor"> <p class="commentor-name">[reply.uname] <cite class="date-posted"><date-posted :posted="reply.date"></date-posted></cite></p>
                                        <p class="comment">[reply.reply]  <br>
                                           
                                            
                                            
                                           
                                           
                                        </p>
                                        {% if request.session.loggin %}
                                        <button  class="delreply" v-if="reply.commentor == {{request.session.id}} || info.commentor == {{request.session.id}} || {{question.asker_id}} == {{request.session.id}}" @click="showHideDeleteModal('show');commentIndex = replyIndex; promptMsgExtension = 'reply';replyId = reply.id;questionId = reply.post_id;popUpAlert = true;actionToPerform = 'deleteReply'"><span class="fa fa-trash"></span></button>
                                        <!-- <button class="set-as-answered-reply ml-10" > <span class="fa fa-check"></span> </button> -->
                                    {% endif %}
                                      
                                    </div>       
                                  
                                </div>
                                <button class="show-more-reply" v-if="lim[index] == 'false' && replyIndex == 5"  @click="limitShownReply(index);">More Replies <span style="font-size: 25px;" class="fa fa-sort-down"></span> </button>
                            </div>
                           
                            <div v-else>
                                <div v-if="lim[index] == 'true'">
                                    <img :src="srcImg+reply.photo" class="commentor-dp">
                                    <div class="commentor"> <p class="commentor-name">[reply.uname] <cite class="date-posted"><date-posted :posted="reply.date"></date-posted></cite></p>
                                        <p class="comment">[reply.reply] <br>
                                            
                                        
                                       
                                        </p>
                                           
                                        {% if request.session.loggin %}
                                        <button  class="delreply" v-if="reply.commentor == {{request.session.id}} || info.commentor == {{request.session.id}} || {{question.asker_id}} == {{request.session.id}}" @click="commentIndex = replyIndex; promptMsgExtension = 'reply';replyId = reply.id;questionId = reply.post_id;popUpAlert = true;actionToPerform = 'deleteReply'"> <span class="fa fa-share"></span> </button>
                                        <!-- <button class="set-as-answered-reply ml-10"> <span class="fa fa-check"></span> </button> -->
                                    {% endif %}
                                       
                                    </div>       
                                   
                                </div>
                            </div>
                        </div>
                        
                        <div>
                            <button style="margin-bottom: 0;margin-top: 5px" class="hide-replies" v-if="lim[index] == 'true'" @click="limitShownReply(index)">Hide Replies</button>

                        </div>
                      
                       
                    
                        {% if request.session.loggin %}
                           
                            <button  class="btn-reply" @click="showHideReplyModal('show');replyModal = true;replyInfo.question_id = info.post_id; replyInfo.comment_id = info.id;replyInfo.commentor_id = {{question.asker_id}}; "> <span class="fa fa-share"></span></button>
                            <button class="btn-delete" v-if="info.commentor == {{request.session.id}} || {{question.asker_id}} == {{request.session.id}}" @click="showHideDeleteModal('show');commentIndex = index;promptMsgExtension = 'comment'; comId = info.id;questionId = info.post_id;popUpAlert = true;actionToPerform = 'deleteComment'"> <span class="fa fa-trash"></span> </button>
                          
                                <button class="set-as-answered" v-if="(showCheckMark[index] == 'false') && ( {{question.asker_id}} == {{request.session.id}} )"  @click="setAnswerInfo.question_id = {{question.id}};setAnswerInfo.id=info.id;setAnswerInfo.category='comment';setAnswer(index)"> <span class="fa fa-check"></span> </button>
                                <button class="set-as-answered" v-if="(showCheckMark[index] == 'true' ) && ( {{question.asker_id}} == {{request.session.id}} )" @click="setAnswerInfo.question_id = {{question.id}};setAnswerInfo.id=info.id;setAnswerInfo.category='comment';setUnanswered(index)"> <span class="fa fa-window-close"></span> </button>

                        
                         {% endif %}
                     
                      
                    </div>
                  
                    <div class="comment-area">
    
                        <form @submit.prevent="addComment({{post_id}})">
                           {% csrf_token %}
                           <input type="hidden" value="{{post_id}}" id="post-id" >
                            <textarea placeholder="Write your comment here . . ." v-model="comment" required {% if request.session.loggin %} {% else %} disabled="True"   {%endif %}></textarea>
                            <div class="summernote for-code">
                                <label >Code (Optional)</label><br>
                                <b>Please click the Code View  tab if you are going to add code/answer to your comment.</b>
                          
                                <div  id="summernote"></div>
                            </div>
                           
                            <button type="submit" class="btn-comment" {% if request.session.loggin %} {% else %} disabled="True"   {%endif %}>Comment</button>
                            <button type="button" class="btn-put-code" {% if request.session.loggin %} {% else %} disabled="True"   {%endif %}>Put Code</button>
                        </form>
                      
                      
                    </div>
                  
                </ul>
            
                <!-- class comments close -->
            </div>      
            {% if not request.session.loggin %}
            <p class="err-login-first"> <span class="fa fa-exclamation"></span> &nbsp; You must login first to be able to comment/reply in the post.</p>
            {% endif %}
        </div>
        <div class="col l4 s12 m4">

        </div>
        
    </div>
  
	{% include 'html/templates/footer.html' %}

{% endblock %}