{% extends 'html/dashboard/base.html' %}

{% block body %}
	
	<div class="flex-container">
		<div class="flex-item-1 bg-color" id="side-nav">
			<div class="admin-panel">
			<p>Admin Panel</p>
			<img src="/media/dp.jpg">
			<p id="user-name">Jereco James Piso</p>
			</div>
			 <ul>
			 	<li><span class="fa fa-home"></span><a href="">Home</a></li>
			 	<li><span class="fa fa-folder"></span><a href="">Projects</a></li>
			 	<li><span class="fa fa-language"></span><a href="">Languages</a></li>
			 	<li><span class="fa fa-handshake"></span><a href="">Jobs</a></li>
			 	<li><span class="fa fa-question"></span><a href="">Questions</a></li>			 	
			 </ul>
		</div>
		<div class="flex-item-2">
			<div id="top-nav">
				<div class="dropdown">
					<img src="/media/dp.jpg">
				  <div class="dropbtn"><p>Jereco James Piso <span id="down" class="fa fa-sort-down"></span></p></div>
				  <div class="drop-content">
				    <a href="#">Account Settings</a>
				    <a href="#">Logout</a>
				  </div>
				</div>
			</div>
			<div class="row">
				<div class="col l4 xl4 s12 m4">
					<div class="card card-projects">
						<div class="card-header">
							<span class="fa fa-folder"></span>
								<b class="total">5</b>
						</div>
						<div class="card-body">
							<p>Projects</p>
						</div>
					</div>
				</div>
				<div class="col l4 xl4 s12 m4">
					<div class="card card-question">
						<div class="card-header">
							<span class="fa fa-question"></span>
								<b class="total">5</b>
						</div>
						<div class="card-body">
							<p>Questions</p>
						</div>
					</div>
				</div>
				<div class="col l4 xl4 s12 m4">
					<div class="card card-notif">
						<div class="card-header">
							<span class="fa fa-bell"></span>
								<b class="total">5</b>
						</div>
						<div class="card-body">
							<p>Notifications</p>
						</div>
					</div>
				</div>
				<div class="col l4 xl4 s12 m4">
					<div class="card card-languages">
						<div class="card-header">
							<span class="fa fa-code"></span>
								<b class="total">5</b>
						</div>
						<div class="card-body">
							<p>Programming Languages</p>
						</div>
					</div>
				</div>
				<div class="col l4 xl4 s12 m4">
					<div class="card card-jobs">
						<div class="card-header">
							<span class="fa fa-handshake"></span>
								<b class="total">5</b>
						</div>
						<div class="card-body">
							<p>Jobs</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}