<!DOCTYPE html>
<html>
<head>
	 {% load static %}
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{{request.session.title}}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/materialize.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/fontawesome-free/css/all.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/indxeded.css' %}">
	{% if request.session.title == 'Jobs' %}
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/jobszzedesed.css' %}">
	{% endif %}
	{% if request.session.title == 'Questions' %}
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/questionedcced.css' %}">
	{% endif %}
	
	{% if request.session.title == 'Projects' %}
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/projectzzzsssszztttteecceebbeedd.css' %}">
	{% endif %}
	
</head>
<body>

	{% block main_page %}
    

    {% endblock %}

<script type="text/javascript" src="{% static 'assets/js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/axios.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/vue.js' %}"></script>
<!-- <script type="text/javascript" src="{% static 'assets/js/indx.js' %}"></script> -->
<script type="text/javascript" src="{% static 'assets/js/materialize.js' %}"></script>

<script type="text/javascript">
var signup = new Vue({
	delimiters: ['[', ']'],
	el: "#signup",
	data:{
		signupInfo: {username: '', email: '', password: '', password2: ''},
		error: '',
		success: ''
	},
	mounted: function(){
		// alert($('input[name=csrfmiddlewaretoken]').val())
	},
	methods: {
		register: function(){

			if((signup.signupInfo.email && signup.signupInfo.password && signup.signupInfo.password2) != ""){
				if(signup.signupInfo.password.length < 7){
					signup.error = "Password must contain at least 8 characters!";
				}else if(signup.signupInfo.password != signup.signupInfo.password2){
					signup.error = "Password didn't matched!";
				}else{

					 var data = signup.toFormData(signup.signupInfo);
					axios.post("register", data, {headers: {'X-CSRFToken': $('input[name=csrfmiddlewaretoken]').val()}}).then(function(response){
						if(response.data != "Registered successfully"){
							signup.error = response.data;
						}else{
							signup.success = response.data

							setTimeout(function(){							
								signup.success = "";
								signup.signupInfo.email = ''
								signup.signupInfo.password2 = ''
								signup.signupInfo.password = ''
								signup.signupInfo.username = ''
							}, 5000)

						}
						
					})
				}	
				
			}else{
			 		signup.error =	"All fields must be filled up!";
			}
			
			setTimeout(function(){
							signup.error = "";
							
						}, 5000)

		},

		 toFormData: function(obj){
            var form_data = new FormData();
            for(var key in obj){
                form_data.append(key, obj[key]);
            }
            return form_data;
      },
	}
})
 $(document).ready(function(){

	$(window).resize(function(){
       	if(document.body.clientWidth > 651){
       		$('#top-nav').css({'width': '100%'})
       		$('#open').hide() 	
       	}else if(document.body.clientWidth < 651){
       		$('#top-nav').css({'width': '0'})
       		$('#open').show() 	
       	}

       	if(document.body.clientWidth > 600){
       		$('#projects').show()
       	}else{
       		$('#projects').hide()
       	}
   	});

	$('#open').click(function(){
	 		
	 	$('#top-nav').css({'width': '50%'})
	 	$(this).hide()
	 	
	})
	$('#close').click(function(){
	 		
	 	$('#top-nav').css({'width': '0'})
	 	$('#open').show() 	
	 	
	})


 	$('#search-question input').focus(function(){
 		$(this).css({'box-shadow': '1px 1px 2px 1px rgb(153, 214, 255)'})
 	})
 	$('#search-question input').mouseout(function(){
 		$(this).css({'box-shadow': '0px 0px 0px 0px'})
 	})
  	
  	$('#btn-languages').click(function(){
	 		
	 	$('#projects').show()
	 	
	 	
	})
	$('#close-show').click(function(){
	 		
	 	$('#projects').hide()
	 	
	})
	
	})
</script>
</body>
</html>