
<div class="header" style=""><a id="site-nameMobile">codeUnity</a><button id="open"><span class="fa fa-bars"></span></button>
	
	<ul id="top-nav">
		
			<a id="site-name" style="">codeUnity</a>
			<li><a  class="showSearch"><span class="fa fa-search" style="font-size: 25px;"></span></a></li>
	    	<li id="for-mobile-nav-logo"><button id="close">&times;<!-- <span class="fa fa-bars"></span> --></button></li>
	 		<li><a href="login"> Login</a></li>
	 		<li><a href=""> Find Developer</a></li>
	    	<li><a href="questions"> <!--  <span class="fa fa-question-circle"></span> --> Questions</a></li>
	   
			<li><a href="projects"> <!-- <span class="fa fa-folder"></span> --> Projects</a></li>
			
	    <li><a href="/">Home</a></li>

	 </ul>
	 
</div>


<div class="row search-section">
	<button class="x">&times;</button>
   <div class="col s12" id="job-search-homes">
	  
	  <button class="search-btn"><span class="fa fa-search"></span></button><input placeholder="Search . . . ">
	 <select id="search-job-cat">
		 <option value="" disabled selected>Search by:</option>
		 <option value="1">Projects</option>
		 <option value="2">Questions</option>
	 </select> 

   </div>
   


</div>