
<div class="header" style=""><a id="site-nameMobile">codeUnity</a><button id="open"><span class="fa fa-bars"></span></button>
	
	<ul id="top-nav">
		
	    	<a id="site-name"  style="">codeUnity</a>
	    	<li id="for-mobile-nav-logo"><button id="close"><span class="fa fa-bars"></span></button></li>
	 		<li><a href="login"> Login</a></li>
	 		<li><a href="jobs"> Find Job</a></li>
	    	<li><a href="questions"> <!--  <span class="fa fa-question-circle"></span> --> Questions</a></li>
	   
	    	<li><a href="projects"> <!-- <span class="fa fa-folder"></span> --> Projects</a></li>
	    <li><a href="/">Home</a></li>

 	</ul>
</div>
