#btn-login{
	width: 100%;
	padding: 3%;
	margin-top: -5%;
	background-color: rgb(0, 128, 128);
	color: rgb(255,255,255);
	border: none;
	border-radius: 0.6rem;
}
body{
	background-color:  rgb(0, 128, 128);
}
#border_none{
	border: none;
}
#forgot-password{
	background-color: transparent;
	border: none;
}
.form{
	margin-top: -7%;
	height: 787px;
    width: 100%;
    padding-top: 10%;
 /*   background-color:  rgb(0, 128, 128);*/
}
#login-form{
	background-color: rgb(239, 245, 245);
	width: 25%;
	margin-left: 37%;
	padding: 1.7%;
	margin-top: 5%;
	border-radius: 1rem


}
#login-form label{
	font-size: 100%;
	color: rgb(0,0,0);
	font-weight: bold;
}
.login-logo{
	border-radius: 60%;
	width: 20%;
	margin-bottom: 10%;
	margin-left: 37%;
	display: block;
}
#login-form input{
	border: 1px solid rgb(0, 128, 128);
	height: 35px;
	border-radius: 0.3rem;
}
#login-form input:focus{
	border: 1px solid rgb(0, 128, 128);
   
    padding-left: 0.5%;
}
#login-form div{
	margin-top: -10%;
}