.btn-edit{
	background-color: rgb(0, 179, 89);
	border: none;
	width: 70px;
	padding-top: 2%;
	padding-bottom: 2%;
	color: rgb(255,255,255);

}
.btn-delete{
	background-color: rgb(230, 0, 0);
	border: none;
	width: 80px;
	padding-top: 2%;
	padding-bottom: 2%;
	color: rgb(255,255,255);
}
#table{
	border: 2px solid rgb(0, 179, 134);
}
#table tbody tr td, #table thead tr th{
	border: 1px solid rgb(0, 179, 134);
	text-overflow: auto;
	font-weight: bold;
}
#table thead tr th{
	border: 1px solid rgb(255, 255, 255);
	background-color: rgb(0, 179, 134);
	color: rgb(255,255,255);
	text-overflow: auto;
	font-size: 120%;
}
#opt{
	width: 250px;
	float: left;

}

.manage #total-project{
	float: right;
	font-size: 70%;
	background-color: rgb(255,0,0);
	padding: 0 1.5% 0 1.5%;
	color: rgb(255,255,255);
	border-radius: 1rem;
}
.mt-1{
	margin-top: 1%;
}

#search-language{
	border: none;
    padding-left: 1%;
   
    background-color: rgb(255, 255, 255);
	float: right;
    width: 98%;
    margin-right: 3px;

}
/* .entries{
	float: left;margin-top: 1.5%;margin-left: 1%;
}
.show{
	float: left;
	margin-top: 1.5%;
	margin-right: 1%;
}
#table{
	border: 2px solid rgb(0, 179, 134);
}
#table tbody tr td, #table thead tr th{
	border: 1px solid rgb(0, 179, 134);
	text-overflow: auto;
}
#table thead tr th{
	border: 1px solid rgb(255, 255, 255);
	background-color: rgb(0, 179, 134);
	color: rgb(255,255,255);
	text-overflow: auto;
	font-size: 120%;
}
#table-div{
	background-color: rgb(230, 230, 230);
    padding: 2%;
 
	

}
#table #sel{
	width: 80px;margin-top: 1%;float: left;
} */
::placeholder{
	color: rgb(92, 138, 138);
}
#add-inp{
    border: none;
    padding-left: 1%;
	width: 42%;
	height: 41px;
    background-color: rgb(255, 255, 255);
}
#language-cat{
	display: block;
	width: 42%;
	height: 43px;
	float: left;
}
.btn-add-language{
    border: none;
    height: 42px;
    margin-left: -5px;
    width: 58px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 179, 134)
}