.AddModal{
	background-color: rgba(115, 115, 115,0.3);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	z-index: 1;
	left: 0;

}

.closeModal{
	float: right;
	background-color: transparent;
	border:none;
	font-size: 25px;
	opacity: 0.6;
}
.ModalHeader{
	height: 40px;
	/* background-color: red; */
	border-bottom: 1px solid rgb(224, 235, 235);
}
.ModalBody{
	
	padding: 15px 25px 15px 25px;
}
#addFormLanguage label, #addFormFramework label{
	font-size: 16px;
	/* color: rgb(0,0,0); */
	font-family: sans-serif;
}
#addFormLanguage input, #addFormFramework input{
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 0.1rem;
	height: 40px;
	padding-left: 2px;
	width: 100%;
	/* margin-bottom: 8px; */
}
#addFormLanguage  button, #addFormFramework button{
	width: 101%;
	padding: 8px 0 8px 0;
	border-radius: 0.3rem;
	color: rgb(255, 255, 255);
	border: none;
	background-color: rgb(0, 128, 128);
}

/* .must-login{
	margin-top: 0;
	font-family: sans-serif;
	font-size: 17px;
	color: red;
	text-align: center
} */

.btn-edit{
	background-color: rgb(0, 179, 89);
	border: none;
	width: 70px;
	padding-top: 2%;
	padding-bottom: 2%;
	color: rgb(255,255,255);

}
.btn-delete{
	background-color: rgb(230, 0, 0);
	border: none;
	width: 80px;
	padding-top: 2%;
	padding-bottom: 2%;
	color: rgb(255,255,255);
}

#opt{
	width: 250px;
	float: left;

}

.manage #total-project{
	float: right;
	font-size: 70%;
	background-color: rgb(255,0,0);
	padding: 0 1.5% 0 1.5%;
	color: rgb(255,255,255);
	border-radius: 1rem;
}
.mt-1{
	margin-top: 1%;
}


::placeholder{
	color: rgb(92, 138, 138);
}
@media(max-width: 450px){
	#showAddLanguage, #showAddFramework{
		background-color: rgb(0, 179, 134);
		border: none;
		color: rgb(255,255,255);
		height: 43px;
		margin-bottom: 10px
     }
	.ModalWrapper{
		border-radius: 0.2rem;
		background-color: rgb(255, 255, 255);
		margin-top: 30%;
		width: 90%;
		margin-left: 5%;
	}	
	.add-input-lang, #add-input-framework{
		border: none;
	
		width: 101%;
		height: 43px;
		background-color: rgb(255, 255, 255);
		
	}
	.language-cat, #framework-lang{
		display: block;
		width: 102%;
		height: 43px;
		

	}
	.btn-language{
		clear: both;
		border: none;
		display: block;
		height: 42px;
		/* margin: auto; */
		margin-top: -15px;
		
		width: 100%;
		margin-right: 3px;
		margin-bottom: 3px;
		color: rgb(255, 255, 255);
		background-color: rgb(0, 179, 134)
	}
	#search-language, #search-framework{
		border: none;
		/* padding-left: 1%; */
	   
		background-color: rgb(255, 255, 255);
		float: right;
		width: 100%;
		
		margin-bottom: 5px;
	
	}
	

}
@media (min-width: 451px) and (max-width: 600px){
	#showAddLanguage, #showAddFramework{
		background-color: rgb(0, 179, 134);
		border: none;
		color: rgb(255,255,255);
		height: 43px;
		margin-bottom: 10px
     }
	.ModalWrapper{
		border-radius: 0.2rem;
		background-color: rgb(255, 255, 255);
		margin-top: 30%;
		width: 70%;
		margin-left: 15%;
	}	
	#add-input-lang, #add-input-framework{
		border: none;
		padding-left: 1%;
		width: 100%;
		height: 43px;
		background-color: rgb(255, 255, 255);
		
	}
	.language-cat, #framework-lang{
		display: block;
		width: 101%;
		height: 43px;
		

	}
	.btn-language{
		
		border: none;
		display: block;
		height: 42px;
		/* margin: auto; */
		/* margin-top: -15px; */
	
		
		margin-right: 3px;
		
		color: rgb(255, 255, 255);
		background-color: rgb(0, 179, 134)
	}
	#search-language, #search-framework{
		border: none;
		padding-left: 1%;
	   
		background-color: rgb(255, 255, 255);
		
		width: 50%;
		margin-right: 3px;
		margin-bottom: 10px;
		margin-top: -10px;
	
	}
	

}
@media (min-width: 601px) and (max-width: 800px){
	#showAddLanguage, #showAddFramework{
		background-color: rgb(0, 179, 134);
		border: none;
		color: rgb(255,255,255);
		height: 43px;
		margin-top: -10px
     }
	.ModalWrapper{
		border-radius: 0.2rem;
		background-color: rgb(255, 255, 255);
		margin-top: 30%;
		width: 70%;
		margin-left: 15%;
		height: 270px;
	}	
	#add-input-lang, #add-input-framework{
		border: none;
		padding-left: 1%;
		width: 100%;
		height: 43px;
		background-color: rgb(255, 255, 255);
		
	}
	.language-cat, #framework-lang{
		display: block;
		width: 101%;
		height: 43px;
	
	}
	.btn-language{
		
		border: none;
		display: block;
		height: 42px;
		/* margin: auto; */
		/* margin-top: -15px; */
		float: right;
		width: 18%;
		margin-right: 3px;
		margin-bottom: 3px;
		color: rgb(255, 255, 255);
		background-color: rgb(0, 179, 134)
	}
	#search-language, #search-framework{
		border: none;
		padding-left: 1%;
	    float: right;
		background-color: rgb(255, 255, 255);
		
		width: 50%;
		margin-right: 3px;
		margin-bottom: 10px;
		margin-top: -10px;
	
	}
	

}
@media(min-width: 801px) and (max-width: 1999px){
	#showAddLanguage, #showAddFramework{
		background-color: rgb(0, 179, 134);
		border: none;
		color: rgb(255,255,255);
		height: 43px;
	
     }
	#add-input-lang, #add-input-framework{
		border: none;
		padding-left: 1%;
		width: 42%;
		height: 41px;
		background-color: rgb(255, 255, 255);
	}
	.language-cat, #framework-lang{
		display: block;
		width: 42%;
		height: 43px;
	
	}
	.btn-language{
		border: none;
		height: 42px;
		margin-left: -5px;
		width: 58px;
		color: rgb(255, 255, 255);
		background-color: rgb(0, 179, 134)
	}
	#search-language, #search-framework{
		border: none;
		padding-left: 1%;
	   
		background-color: rgb(255, 255, 255);
		
		width: 50%;
		margin-right: 3px;

	
	}

}
@media(min-width: 1200px){
	#showAddLanguage, #showAddFramework{
		background-color: rgb(0, 179, 134);
		border: none;
		color: rgb(255,255,255);
		height: 43px;
		
     }
	.ModalWrapper{
		border-radius: 0.2rem;
		background-color: rgb(255, 255, 255);
		margin-top: 10%;
		width: 30%;
		margin-left: 35%;
	}	
	.add-input-lang, #add-input-framework{
		border: none;
	
		width: 100%;
	
		background-color: rgb(255, 255, 255);
	}
	.language-cat{
		/* display: block; */
		width: 101%;
		margin-bottom: 5px;
		
	}
	#framework-lang{
		/* display: block; */
		width: 101%;
	
		
	}
	.btn-language{
		border: none;
		height: 42px;
		margin-left: 0;
		/* width: 58px; */
		margin-top: -10px;
		color: rgb(255, 255, 255);
		background-color: rgb(0, 179, 134)
	}
	#search-language, #search-framework{
		border: none;
		padding-left: 1%;
	   
		background-color: rgb(255, 255, 255);
		
		width: 98%;
	
		
		
	
	}
}
.ModalTitle{
	padding-top: 8px;
	margin-left: 10px;
	font-size: 16px;
	font-weight: bold;
	float: left;
	font-family: sans-serif;
}