{% extends 'html/templates/base.html' %}

{% block main_page %}
	{% include 'html/templates/header.html' %}

	<div class="row mt-1">
		<div class="col l7 m12 s12 xl7">
			<div class="jobs-flex">
			<form>
				<input type="text" id="job-search" name="" placeholder="Search for jobs"> 		
			</form>
			
				<div class="job-info">	 	
				 	<div>
				 		<a href="" class="company-name">Gaplabs</a>
				 		<p>Gaplabs are hiring senior Web Developers with  knowledge in PHP, Javascript CSS and Sass with adsfsdf minimum experience of 3yrs.</p>
				 		<a href="" class="read-more">Read more</a>
				 	</div>
				 	<div>
				 		<a href="" class="company-name">Accudata</a>
				 		<p>Gaplabs are hiring senior Web Developers with  knowledge in PHP, Javascript CSS and Sass with a minimum experience of 3yrs.</p>
				 		<a href="" class="read-more">Read more</a>
				 	</div>
				 	<div>
				 		<a href="" class="company-name">ThinkerVille</a>
				 		<p>Gaplabs are hiring senior Web Developers with  knowledge in PHP, Javascript CSS and Sass with a minimum experience of 3yrs.</p>
				 		<a href="" class="read-more">Read more</a>
				 	</div>
				 	<div>
				 		<a href="" class="company-name">Gaplabs</a>
				 		<p>Gaplabs are hiring senior Web Developers with  knowledge in PHP, Javascript CSS and Sass with a minimum experience of 3yrs.</p>
				 		<a href="" class="read-more">Read more</a>
				 	</div>
				</div>
			</div>
		</div>
		<div class="col l5 m12 s12 xl5">
			<div class="job-categories p-3">
				<p>Job Categories:</p>
				<div class="categories">
					<a href="">Back-end</a>
					<a href="">Front-end</a>
					<a href="">Web Designer</a>
					<a href="">Fullstack</a>
					<a href="">Wordpress</a>
					<a href="">Encoder</a>			
				</div>
			</div>
		</div>
	</div>
	<!-- Jobs -->
	<div class="row job-footer-categories">
		<div class="col l3 m3 s12 xl3">
			<p>Android Developer</p>
			<ul>
				<li><a href="">React Native</a></li>
				<li><a href="">Xamarin</a></li>
				<li><a href="">Flutter</a></li>
				<li><a href="">Ionic</a></li>
			</ul>
		</div>
		<div class="col l3 m3 s12 xl3">
			<p>Front-end Developer</p>
			<ul>
				<li><a href="">VueJs</a></li>
				<li><a href="">Angular</a></li>
				<li><a href="">ReactJs</a></li>
				<li><a href="">Bootstrap 4</a></li>
			</ul>
		</div>
		<div class="col l3 m3 s12 xl3">
			<p>Back-end Developer</p>
			<ul>
				<li><a href="">Core PHP</a></li>
				<li><a href="">Codeigniter</a></li>
				<li><a href="">Ruby on Rails</a></li>
				<li><a href="">NodeJs</a></li>
				<li><a href="">Django</a></li>
			</ul>
		</div>
		<div class="col l3 m3 s12 xl3">
			<p>Android Developer</p>
			<ul>
				<li><a href="">React Native</a></li>
				<li><a href="">Xamarin</a></li>
				<li><a href="">Flutter</a></li>
				<li><a href="">Ionic</a></li>
			</ul>
		</div>
	
	</div>
	<!-- end jobs -->


	{% include 'html/templates/footer.html' %}
{% endblock %}