{% extends 'html/templates/login_signup_base.html' %}

{% block login_signup_verify %}
		
		
				<div class="form" id="login">
					<form @submit.prevent="loginUser()"  id="login-form" >
						{% csrf_token %}
					
						<img class="login-logo" src="/media/images.png">
						<div>
							<label>Email</label>
							<input type="email" class="login-input" v-model="loginInfo.email" required>
							<label>Password</label>
							<input type="password" v-model="loginInfo.password" required>
							<button type="submit" id="btn-login">Login</button>
							 <p class="center-align error" v-if="error">[error]</p>
               		  <p class="center-align success" v-if="success">[success]</p>
							<a href="signup" id="forgot-password">Signup</a>
							<a href="" class="right" id="forgot-password">Forgot password?</a>
						</div>				
					</form>
				</div>
			
	
{% endblock %}