{% extends 'html/templates/base.html' %}

{% block main_page %}
	{% include 'html/templates/header.html' %}
			
			<p class="for-free">Download Projects for Free <span class="fa fa-download"></span></p>
			
			<div class="row mt-n3">
				<div class="col l2 m3 s12 xl2" id="projects">
					 <button id="close-show">&times;</button>
					 <p class="languages">Languages</p> 
					<ul>
						{% for lang in languages %}
						<li> <a href="">{{lang.language}}</a> </li>
						{% endfor %}
					</ul>
				</div>
				<div class="col l7 m9 s12 xl7">
				
					<button id="btn-languages">Languages</button>
					<input type="text" id="search" placeholder="Search project . . .">		
					<div class="projects-div clear-float">
						{% for project in projects %}
						<div class="project-box">
							<a href="project/{{project.id}}" class="app-title">{{ project.project_name }}</a>
							<div class="about-project">
								{{ project.about }}
							</div>
							
								<div class="project-info-btn">
									<button >{{project.downloads}} Downloads </button>
									<button>20 Views</button>
								</div>
								
								<a href="download/{{ project.project_name }}" class="download-app"> <span class="fa fa-download"></span></a>
								
							
								
						</div>
						{% endfor %}
					</div>

            
				</div>
				<div class="col l3 m12 s12 xl3">

					<p class="trends">Popular Projects</p>
					<ul class="trending-projects">
						<li><a href="">Loaning System</a></li>
						<li><a href="">Real Time Chat App</a></li>
						<li><a href="">E-Commerce</a></li>
					</ul>
				</div>
			</div>

	{% include 'html/templates/footer.html' %}

{% endblock %}