{% extends 'html/templates/base.html' %}

{% block main_page %}
	{% include 'html/templates/header.html' %}
			
			<p class="for-free">Download Projects for Free <span class="fa fa-download"></span></p>
			
			<div class="row mt-n3">
				<div class="col l2 m3 s12 xl2" id="projects">
					 <button id="close-show">&times;</button>
					 <p class="languages">Languages</p> 
					<ul>
						<li> <a href="">NodeJS</a> </li>
						<li> <a href="">Laravel</a> </li>
						<li> <a href="">VueJS</a> </li>
						<li> <a href="">ReactJS</a> </li>
						<li> <a href="">Angular</a> </li>
						<li> <a href="">Ionic</a> </li>
						<li> <a href="">Python</a> </li>
						<li> <a href="">Java</a> </li>
						<li> <a href="">PHP</a> </li>
						<li> <a href="">ExpressJS</a> </li>
						<li> <a href="">Django</a> </li>
						<li> <a href="">Flask</a> </li>
						<li> <a href="">Codeigniter</a> </li>
						<!-- <p class="languages">Frameworks</p>			 -->
					</ul>
				</div>
				<div class="col l10 m9 s12 xl10">
				
					<button id="btn-languages">Languages</button>
					<input type="text" id="search" placeholder="Search project . . .">		
					<div class="projects-div clear-float">
						{% for project in projects %}
						<div class="project-box">
							<a href="#" class="app-title">{{ project.project_name }}</a>
							<div>
								{{ project.about }}
							</div>
								<a href="download/{{ project.project_name }}" class="download-app"><span class="fa fa-download"></span> </a>
						</div>
						{% endfor %}
					</div>

					<!--  <ul class="pagination">
					    <li class="disabled"><a href="#!"><i class="material-icons">Prev</i></a></li>
					    <li class="active"><a href="#!">1</a></li>
					    <li class="waves-effect"><a href="#!">2</a></li>
					    <li class="waves-effect"><a href="#!">3</a></li>
					    <li class="waves-effect"><a href="#!">4</a></li>
					    <li class="waves-effect"><a href="#!">5</a></li>

					    <li class="waves-effect"><a href="#!"><i class="material-icons">Next</i></a></li>
  					</ul> -->
            
				</div>
			</div>

	{% include 'html/templates/footer.html' %}

{% endblock %}