{% extends 'html/login_signup_base.html' %}

{% block login_signup %}
		<div class="form">

				<form id="login-form" method="POST" action="register" enctype="multipart/form-data">
				{% csrf_token %}
             <!--  <h5> {% if message != "null" %}

				<h5>{{ message }}</h5>

				{% endif %}</h5> -->
		
				<img class="login-logo" src="/media/images.png">
				<div>
					<label>Username</label>
					<input type="text" class="login-input" name="name" required>
					<label>Password</label>
                    <input type="password" name="password" required>
                    <label>Re-type Password</label>
                    <input type="password" name="pass2" required>
                    <label>Photo</label>
					<input type="file" id="border_none" style="border: none" name="image" required>
					<button type="submit" id="btn-login">Signup</button>
					<a href="login" >Login</a>
					<a href="" class="right" id="forgot-password">Forgot password?</a>
				</div>				
			</form>	
	

		</div>
				
			
{% endblock %}