{% extends 'html/templates/login_signup_base.html' %}

{% block login_signup_verify %}
		<div class="form" id="signup">

				<form id="signup-form" v-on:submit.prevent="register()">
				{% csrf_token %}
             <!--  <h5> {% if message != "null" %}

				<h5>{{ message }}</h5>

				{% endif %}</h5> -->
		
				<img class="signup-logo" src="/media/images.png">
				<div>
	
                     {% csrf_token %}
            
            		   <label>Username</label>
					   <input type="text" class="login-input" v-model="signupInfo.username" required>
		               <label >E-mail</label>
		               <input  type="email" v-model="signupInfo.email" required>
		                <label>Password</label>
		               <input type="password" v-model="signupInfo.password" required>
		                <label>Re-type password</label>
		               <input type="password" v-model="signupInfo.password2" required>
                  
					<button type="submit" id="btn-signup">Signup</button>
					  <p class="center-align error" v-if="error">[error]</p>
               		  <p class="center-align success" v-if="success">[success]</p>
					<a href="login" >Login</a>
					<a href="" class="right" id="forgot-password">Forgot password?</a>
				</div>				
			</form>	
	

		</div>
				
			
{% endblock %}