<!DOCTYPE html>
<html>
<head>
	 {% load static %}
	<title></title>
</head>
<body>

  <form >
                    {% csrf_token %}
<input type='file' webkitdirectory > <button >click test</button>
</form>
 <script type="text/javascript" src="{% static 'assets/js/jquery.js' %}"></script>
 <script>

    var files = [];
    $(document).ready(function(){
        $("input").change(function(){
            files = this.files;
        });
        $("button").click(function(e){
        	e.preventDefault();
            var fd = new FormData();
            // alert()
            for (var i = 0; i < files.length; i++) {
 
               fd.append("files", files[i]);
               fd.append("paths", files[i]['webkitRelativePath']);
               fd.append("csrfmiddlewaretoken", $('input[name=csrfmiddlewaretoken]').val())
 
            }
               console.log(files[2]['webkitRelativePath']);
            $.ajax({
                url: "get",
                method: "POST",
                data: fd,
                contentType: false,
                processData: false,
                cache: false,
                success: function(data){
                    alert(data);
                }
            });
        });
       });
</script>
</body>
</html>