<!DOCTYPE html>
<html>
<head>
	 {% load static %}
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{{request.session.title}}</title>

	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/materialize.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/prism.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/fontawesome-free/css/all.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/innddddexxeddd.css' %}">
	{% if request.session.title == 'Jobs' %}
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/jobs.css' %}">
	{% endif %}
	{% if request.session.title == 'Questions' %}
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/questionstt.css' %}">
	{% endif %}
	{% if request.session.title == 'Projects' %}
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/projectssedddeddd.css' %}">
	{% endif %}
	{% if request.session.title == 'Developers' %}
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/deve.css' %}">
	{% endif %}
	{% if request.session.title == 'viewProject' %}
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/view_projecttedd.css' %}">
	{% endif %}
	{% if request.session.title == 'viewQuestion' %}
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/view_questioneddddddddd.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/summernote-lite.min.css' %}">
	{% endif %}
</head>
<body>

	{% block main_page %}
    

    {% endblock %}

<script type="text/javascript" src="{% static 'assets/js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/axios.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/vue.js' %}"></script>
{% if request.session.title == 'viewQuestion' %}
<script type="text/javascript" src="{% static 'assets/js/prism.js' %}"></script>

{% endif %}
<script type="text/javascript" src="{% static 'assets/js/moment.js' %}"></script>
<!-- <script type="text/javascript" src="{% static 'assets/js/indx.js' %}"></script> -->
<!-- <script type="text/javascript" src="{% static 'assets/js/materialize.js' %}"></script> -->
<script type="text/javascript" src="{% static 'assets/js/date_componented.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/summernote-lite.js' %}"></script>
<script type="text/javascript">
var dd = new Array("Saab", "Volvo", "BMW");
  var comments = new Vue({
	  delimiters: ['[', ']'],
	  el: "#comment-section",
	  data:{
		// comment
		comment: '',
		// text area for the code
		editor: false,
		commentInfo: [],
		replies: [],
		// comment id
		comId: '',
		// post id
		postId: '',
		flashMsg: '',
		// used to hide and show the reply popup box
		replyModal: false,
		replyInfo: {question_id: '', comment_id: '', commentor_id: '', reply: ''},
		// reply id
		replyId: '',
		// question id
		qID: '',
		// the modal 
		popUpAlert: false,
		// what action to perform in the modal 
		actionToPerform: '',
		// extension for the message in the modal content on which data will be deleted
		promptMsgExtension: ''
		
	
	  },
	  mounted: function(){	
		// alert($("#post-id").val())
		this.qID = $("#post-id").val()
		// this.getComments($("#post-id").val())
		// this.getReplies($("#post-id").val())
	  },
	  methods:{
		  	// adding reply
		  secComment: function(){
			 let data = new FormData()
			 data.append("post_id", comments.replyInfo.question_id)
			 data.append('comment_id', comments.replyInfo.comment_id)
			 data.append('commentor_id', comments.replyInfo.commentor_id)
			 data.append('reply', comments.replyInfo.reply)
			 axios.post("/reply", data, {headers: {'X-CSRFToken': $('input[name=csrfmiddlewaretoken]').val()}}).then(function(response){
				comments.flashMsg = response.data
				comments.replyInfo.reply = ""
				comments.replyModal = false
				comments.getComments(comments.qID)
				comments.getReplies(comments.qID)
				setTimeout(function(){
					comments.flashMsg = ""
				}, 5000)
			 })
		
		  },
		  	// adding comment
		  addComment: function(commentor_id, post_id){
			  
			  var code = $("#summernote").summernote('code')
			  var now = moment().year()+"-"+(moment().month()+1)+"-"+moment().date()+" "+moment().hour()+":"+moment().minutes()+":"+moment().seconds() 
				// alert(val)
			    let data = new FormData()
				data.append("comment", comments.comment)
				data.append("commentor_id", commentor_id)
				data.append("date", now) 
				data.append("post_id", post_id) 
			  if(code != "<p><br></p>"){
				
				data.append("answer", code)
			  }else{
				data.append("answer", "")
			  }

			  axios.post("/addComment", data, {headers: {'X-CSRFToken': $('input[name=csrfmiddlewaretoken]').val()}}).then(function(response){
				
				comments.comment = ""
				comments.flashMsg = response.data
				comments.getComments(post_id)
				comments.getReplies(comments.qID)
				setTimeout(function(){
					comments.flashMsg = ""
				}, 5000)
				
			  })
			
		  },
		  	// deleting comment
		  deleteComment: function(post_id){
			let data = new FormData()
			
			data.append("id", comments.comId)
		
			axios.post("/deleteComment", data, {headers: {'X-CSRFToken': $('input[name=csrfmiddlewaretoken]').val()}}).then(function(response){
				comments.flashMsg = response.data
				comments.getComments(post_id)
				comments.getReplies(comments.qID)
				setTimeout(function(){
					comments.flashMsg = ""
				}, 5000)
			  })
		  },
		  	// deleting reply
		  deleteReply: function(){
			let data = new FormData()
			
			data.append("id", comments.replyId)
			axios.post("/deleteReply", data, {headers: {'X-CSRFToken': $('input[name=csrfmiddlewaretoken]').val()}}).then(function(response){
				comments.flashMsg = response.data
				comments.getComments(comments.qID)
				comments.getReplies(comments.qID)
				setTimeout(function(){
					comments.flashMsg = ""
				}, 5000)
			   })
		  },
		  	// getting comments
		  getComments: function(id){
			  let data = new FormData()
			  data.append("question_id", id)
			axios.post("/getComment", data, {headers: {'X-CSRFToken': $('input[name=csrfmiddlewaretoken]').val()}}).then(function(response){
				comments.commentInfo = response.data
			  })
		  },
		  	// getting replies
		  getReplies: function(id){
			  let data = new FormData()
			  data.append("question_id", id)
			  
			axios.post("/getReply", data, {headers: {'X-CSRFToken': $('input[name=csrfmiddlewaretoken]').val()}}).then(function(response){
				comments.replies = response.data
			
			  })
		  },
		  	// what delete function will be executed
		  toDelete: function(){
				if(comments.actionToPerform == "deleteComment"){
					comments.deleteComment(comments.postId)
					
				}else{
					comments.deleteReply()
				}
				setTimeout(function(){
					comments.popUpAlert = false
				}, 800)
		  },
		 
	  }
  })
  $('.btn-put-code').click(function(){
	  if($(this).text() != "Close"){
		$('.summernote').slideToggle()
		$(this).text("Close")
	  }else{
		$('.summernote').slideToggle()
		$(this).text("Put Code")
	  }
	 
  })
  $('#summernote').summernote({
        tabsize: 1,
		maxHeight: 120,
		
       
      });
var signup = new Vue({
	delimiters: ['[', ']'],
	el: "#signup",
	data:{
		signupInfo: {username: '', email: '', password: '', password2: ''},
		error: '',
		success: '',
		status: 'Signup'
	},
	methods: {
		register: function(){
			if((signup.signupInfo.email && signup.signupInfo.password && signup.signupInfo.password2) != ""){
				if(signup.signupInfo.password.length < 7){
					signup.error = "Password must contain at least 8 characters!";
				}else if(signup.signupInfo.password != signup.signupInfo.password2){
					signup.error = "Password didn't matched!";
				}else{

					var data = signup.toFormData(signup.signupInfo);
					axios.post("register", data, {headers: {'X-CSRFToken': $('input[name=csrfmiddlewaretoken]').val()}}).then(function(response){
						if(response.data != "Success"){
							signup.error = response.data;
						}else{
							$(".btn-signup").css({'opacity': '0.6'})
							signup.status = "Redirecting"
							window.location.href = "verify"
							
						}
						
					})
				}	
				
			}else{
			 		signup.error =	"All fields must be filled up!";
			}
			
			setTimeout(function(){
							signup.error = "";
							
						}, 5000)

		},

		 toFormData: function(obj){
            var form_data = new FormData();
            for(var key in obj){
                form_data.append(key, obj[key]);
            }
            return form_data;
      },
	}
})
 $(document).ready(function(){

	$(window).resize(function(){
       	if(document.body.clientWidth > 651){
       		$('#top-nav').css({'width': '100%'})
       		$('#open').hide() 	
       	}else if(document.body.clientWidth < 651){
       		$('#top-nav').css({'width': '0'})
       		$('#open').show() 	
       	}

       	if(document.body.clientWidth > 600){
       		$('#projects').show()
       	}else{
       		$('#projects').hide()
       	}
   	});

	$('#open').click(function(){
	 		
	 	$('#top-nav').css({'width': '50%'})
	 	$(this).hide()
	 	
	})
	$('.showSearch').click(function(){
	 		
			 $('.search-section').slideDown()
			 
			 
		})
		$('.x').click(function(){
	 		
			 $('.search-section').slideUp()
			 
			 
		})
	$('#close').click(function(){
	 		
	 	$('#top-nav').css({'width': '0'})
	 	$('#open').show() 	
	 	
	})


 	$('#search-question input').focus(function(){
 		$(this).css({'box-shadow': '1px 1px 2px 1px rgb(153, 214, 255)'})
 	})
 	$('#search-question input').mouseout(function(){
 		$(this).css({'box-shadow': '0px 0px 0px 0px'})
 	})
  	
  	$('#btn-languages').click(function(){
	 		
	 	$('#projects').show()
	 	
	 	
	})
	$('#close-show').click(function(){
	 		
	 	$('#projects').hide()
	 	
	})
	
	})
	
  

</script>
</body>
</html>