<div class="flex-container" style="z-index: 3;	border-top: 0.5px solid rgb(179, 179, 179);">
	<div class="flex-boxes">
		<h2 class="codeunity">codeUnity</h2>
	</div>
	<div class="flex-boxes">
		<p class="about-us">Codeunity</p>
		<ul class="footer-links">

			<li><a href="/aboutus">About Us</a></li>
			<li><a href="/termsandcontions">Terms & Conditions</a></li>
			<li><a href="">Privacy</a></li>
		
		</ul>
	</div>
	<div class="flex-boxes">
		<p class="contact-us">Contact us</p>
		<ul class="footer-links">
			<li><a href="https://www.facebook.com/CodeUnity-105306511885719?_rdc=1&_rdr">Facebook</a></li>
			<li><a href=""></a></li>
			<li><a href="">Email</a></li>
			
		</ul>
	</div>

</div>
<div class="center-align all-rights-reserved">
	All Rights Reserved {{ year }}
</div>