
<div class="header constant-header"><a id="site-nameMobile" >codeUnity <span class="showSearch fa fa-search" style="margin-left: 10px;font-size: 25px;"></span></a><button id="open"><span class="fa fa-bars"></span></button>
	
	<ul id="top-nav">
		
			<a id="site-name">codeUnity </a>
			<li><a  class="showSearch"><span class="fa fa-search" style="font-size: 25px;"></span></a></li>
	    	<li id="for-mobile-nav-logo"><button id="close"><span class="fa fa-bars"></span></button></li>
	 		<li><a href="/login/user"> Login</a></li>
	 		<li><a href="/developers"> Find Developer</a></li>
	    	<li><a href="/questions"> <!--  <span class="fa fa-question-circle"></span> --> Questions</a></li>
	   
			<li><a href="/projects"> <!-- <span class="fa fa-folder"></span> --> Projects</a></li>
			
	    <li><a href="/">Home</a></li>

	 </ul>
	 
</div>

<div class="search-section">	
	<button class="x">&times;</button>
	<form @submit.prevent="search()"  class="flex-search-bar">
		{% csrf_token %}
		<div class="flex-item-1">
			<select id="search-cat" v-model="toSearch" required style="width: 100%">
				<option disabled selected>Search by:</option>
				<option>Projects</option>
				<option>Questions</option>
				<option>Developers</option>
			</select> 
		</div>
		<div class="flex-item-2">
			<input type="text"  v-model="searchValue"  id="search-input" placeholder="Search" required>
		</div>
		<div class="flex-item-3">
			 <button type="submit" class="btn-search"><span class="fa fa-search"></span></button>
		</div>
	</form>
</div>




</div>