<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>{{ request.session.title }}</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{{request.session.title}}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/materialize.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/fontawesome-free/css/all.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/dashboard/dashboardD.css' %}">
	{% if request.session.title == 'Projects' %}
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/dashboard/projects.css' %}">
	{% endif %}
	{% if request.session.title == 'Language' %}
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/dashboard/lannguages.css' %}">
	{% endif %}
	{% if request.session.title == 'Questions' %}
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/dashboard/questions.css' %}">
	{% endif %}
	{% if request.session.title == 'Developers' %}
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/dashboard/developers.css' %}">
	{% endif %}
</head>
<body>
	<!-- for the loading animation while the page is not fully display -->
	<div class="spinner1">
		<div id="loader" class="center">

		</div>
	</div>
	<div class="flex-container">
		<div class="flex-item-1 bg-color" id="side-nav">
			<span class="close">&times;</span>
			<div class="admin-panel">
		
			<img src="/media/dp.jpg">
			<p id="user-name">Jereco James Piso</p>
			</div>
			 <ul>
			 	<li><span class="fa fa-home"></span><a href="/dashboard/home">Home</a></li>
			 	<li><span class="fa fa-folder"></span><a href="/dashboard/projects">Projects</a></li>
			 	<li><span class="fa fa-language"></span><a href="/dashboard/languages">Languages</a></li>
				<li><span class="fa fa-question"></span><a href="/dashboard/questions">Questions</a></li>
				<li><span class="fa fa-users"></span><a href="/dashboard/developers">Developers</a></li>
						 	
			 </ul>	
		</div>

		<div class="flex-item-2">

			<div id="top-nav">
				<button id="show-side-nav"><span class="fa fa-bars"></span></button>
				<div class="dropdown">
					<img src="/media/dp.jpg">
				  <div class="dropbtn"><p>Jereco James Piso <span id="down" class="fa fa-sort-down"></span></p></div>
				  <div class="drop-content">
				    <a href="#">Account Settings</a>
				    <a href="logout">Logout</a>
				  </div>
				</div>
			</div>

			{% block body %}



			{% endblock %}
			
		</div>
	</div>
	

<script type="text/javascript" src="{% static 'assets/js/axios.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/vue.js' %}"></script>	
<script type="text/javascript" src="{% static 'assets/js/jquery.js' %}"></script>	
<script type="text/javascript" src="{% static 'assets/js/chart.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/dashboard/dashboardChart.js' %}"></script>
<script type="text/javascript"> 
	document.onreadystatechange = function() {
	
	if (document.readyState !== "complete") {
		document.querySelector(
		  "body").style.display = "none";
		document.querySelector(
		  ".spinner1").style.display = "block";
	
	} else {
		document.querySelector(
		  ".spinner1").style.display = "none";
		document.querySelector(
		  "body").style.display = "block";
	}
};
$(document).ready(function(){
	$("#show-side-nav").click(function(){
		$("#side-nav").show()
	})
	
	$(".close").click(function(){
		$("#side-nav").hide()
	})

	$(window).resize(function(){
       	if(document.body.clientWidth > 991){
       		$('.flex-item-1').show()
       		// $('#open').hide() 	
       	}else{
			$('.flex-item-1').hide()
		}
   	});
})
var devs = new Vue({
	delimiters: ['[', ']'],
	el: "#devs",
	data:{
		developers: [],
		src: '/media/',
		totalDevs: '',
		filter: '',
		limitToShow: [],
		devsToShowCtr: 0
	},
	mounted: function(){
		this.getDevs()
	},
	computed: {
		 filterDevs(){
			return this.developers.filter(filteredDevs => {
				const uname = filteredDevs.uname.toString().toLowerCase()
				const expertise = filteredDevs.expertise.toString().toLowerCase()
				const searchTerm  = this.filter.toLowerCase()

				return(
					uname.includes(searchTerm) || expertise.includes(searchTerm)
				)

			})
		 }
	 },
	methods:{
		getDevs: function(){
			axios.get("getDevs").then(function(response){
				devs.developers = response.data
				if(response.data.length > 1){
					devs.totalDevs = response.data.length +" Developers"
				}else{
					devs.totalDevs = response.data.length +" Developer"
				}
				var devs_length = response.data.length
					if(devs_length >= 10){
						var ctr = devs_length/10;
						
						for(var i = 1; i <= Math.floor(ctr); i++){
							// if(i == 0){
							// 	projects.limitToShow.push(2)
							// }else if(i == 1){
								devs.limitToShow.push(10*i)
							// }else{
							// 	projects.limitToShow.push(2*i)
							// }
							
						}
						if(Math.floor(ctr)*10 != devs_length){
							devs.limitToShow.push(devs_length)
							
						}
						devs.devsToShowCtr = 10
					}else{
						devs.limitToShow.push(devs_length)
						devs.devsToShowCtr = devs_length
					}
			}).catch(function(err){
				console.log(err)
			})
		}
	}
})
 var questions = new Vue({
	 delimiters: ['[', ']'],
	 el: "#questions",
	 data:{
		 question_cat: [],
		 category: '',
		 toShowLanguages: [],
		 id: '',
		 filter: '',
		 newCategory: '',
		 allQuestions: [],
		 limitToShow: [],
		 questionToShowCtr: 0,
		 selectedLanguage: ''
	 },
	 mounted: function(){
		this.getCategories()
		this.getLanguages()
		this.getQuestions()
		
	 },
	 methods:{
		 filterByLanguage: function(){
			questions.filter = questions.selectedLanguage
		 },
		addCategory: function(){
			let data = new FormData()
			data.append("category", questions.category)
			axios.post("addCategory", data, {headers: {'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value}}).then(function(response){
				if(response.data == "Question Category added successfuly"){
					questions.getCategories()
					questions.getCategories()
					questions.category = ""
					alert(response.data)
				}
				
			})
		},
		deleteQuestionCat: function(){
			if (confirm("Are you sure you want to delete this data?") == true) {
				let data = new FormData()
				data.append("id", questions.id)
	
				axios.post("deleteQuestionCategory", data, {headers: {'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value}}).then(function(response){

					alert(response.data)
					questions.getCategories()
					
				})
			} 
		},
		editQuestionCat: function(){
			var newCat = prompt("Enter New Question Category", questions.newCategory)
			if(newCat != "" && newCat != null){			
					let data = new FormData()
					data.append("id", questions.id)
					data.append("category", newCat)
					axios.post("editQuestionCategory", data, {headers: {'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value}}).then(function(response){
						alert(response.data)
						questions.getCategories()
					})			
			}
			
		},
		getCategories: function(){
			 axios.get("getCategory").then(function(response){
				questions.question_cat = response.data
			 })
		 },
		 getQuestions: function(){
			axios.get("getQuestions").then(function(response){
				questions.allQuestions = response.data
			
					var questions_length = response.data.length
					if(questions_length >= 5){
						var ctr = questions_length/5;
						
						for(var i = 1; i <= Math.floor(ctr); i++){
							// if(i == 0){
							// 	projects.limitToShow.push(2)
							// }else if(i == 1){
								questions.limitToShow.push(5*i)
							// }else{
							// 	projects.limitToShow.push(2*i)
							// }
							
						}
						if(Math.floor(ctr)*5 != questions_length){
							questions.limitToShow.push(questions_length)
							
						}
						questions.questionToShowCtr = 5
					}else{
						questions.limitToShow.push(questions_length)
						questions.questionToShowCtr = questions_length
					}
				
			})
		 },
		 getLanguages: function(){
			axios.get('getLanguages').then(function(response){
				
				if(response.data == "Failed"){
					alert("Unable to retrieve Languages!")
				}else{
				
					questions.toShowLanguages = response.data
				}
			})
		}
	 },
	 computed: {
		 filterQuestions(){
			 return this.allQuestions.filter(filteredQuestions => {
				const question = filteredQuestions.question.toString().toLowerCase()
				const language = filteredQuestions.language.toString().toLowerCase()
				const searchTerm = this.filter.toLowerCase()
				return (
					question.includes(searchTerm) || language.includes(searchTerm)
				)
			 })
		 }
	 }
 })
 var projects = new Vue({
 	 delimiters: ['[', ']'],
	 el: "#projects-dash",
	 data:{
		filter: "",
		languages: [],
		toShowProjects: [],
		limitToShow: [],
		projectToShowCtr: 0,
		selectedLanguage: '',
		totalProjects: ''
	 },
	 mounted: function(){
		 
		 this.getLanguages();
		 this.getProjects()
	 },
	 computed: {
		filterProject() {
			return this.toShowProjects.filter(filteredProject => {
				
				const project_name = filteredProject.project_name.toString().toLowerCase();
				const language = filteredProject.language.toLowerCase();
				const searchTerm = this.filter.toLowerCase();
				
				return (
					project_name.includes(searchTerm) || language.includes(searchTerm)
				
				);
		
			
			});
			
   		 },
	 },
	 methods:{
		
		filterValue: function(h){	
			projects.filter = projects.selectedLanguage
		
		},
		getLanguages: function(){
			axios.get('getLanguages').then(function(response){
				if(response.data == "Failed"){
					alert("Unable to retrieve Languages!")
				}else{
					projects.languages = response.data
				}
			})
		},
		getProjects: function(){
			axios.get('getProjects').then(function(response){
				if(response.data == "Failed"){
					alert("Unable to retrieve Projects!")
				}else{
					if(response.data.length > 1){
						projects.totalProjects = response.data.length.toString()+ " Projects"
					}else{
						projects.totalProjects = response.data.length.toString()+ " Project"
					}
					
					projects.toShowProjects = response.data
					var project_length = response.data.length
					if(project_length >= 5){
						var ctr = project_length/5;
						
						for(var i = 1; i <= Math.floor(ctr); i++){
							// if(i == 0){
							// 	projects.limitToShow.push(2)
							// }else if(i == 1){
								projects.limitToShow.push(5*i)
							// }else{
							// 	projects.limitToShow.push(2*i)
							// }
							
						}
						if(Math.floor(ctr)*5 != project_length){
							projects.limitToShow.push(project_length)
							
						}
						projects.projectToShowCtr = 5
					}else{
						projects.limitToShow.push(project_length)
						projects.projectToShowCtr = project_length
					}
				
					
				}
			})
		},
		
	 }
 })
 var languages = new Vue({
	 delimiters: ['[', ']'],
	 el: "#languageFramework",
	 data:{
		language: {category: '', lang: '', id: ''},
		framework: {language_id: '', framework: '', id: '', category: ''},
		toShowLanguages: [],
		toShowFrameworks: [],
		showAddLanguage: false,
		showAddFramework: false,
		languageFunction: '',
		frameworkFunction: '',
		languageBtn: '',
		frameworkBtn: '',
		csrf_token: '',
		languageCtr: 0,
		frameworkCtr: 0,
		searchLanguage: '',
		searchFramework: '',
		limitToShowLanguage: [],
		limitToShowFramework: [],
		totalFW: 0,
		totalLanguage: 0,
	
	 },
	 mounted: function(){
		this.getLanguages()
		this.getFrameworks()
	

	
	
		
	 },
	 computed: {
		filterLanguage() {
			return this.toShowLanguages.filter(filteredLanguage => {
				// alert(filteredLanguage.language)
				const lang = filteredLanguage.language.toString().toLowerCase();
				const cat = filteredLanguage.category.toLowerCase();
				const searchTerm = this.searchLanguage.toLowerCase();
			
				return (
					lang.includes(searchTerm) || cat.includes(searchTerm)
				
				);
		
			
			});
			
			},
		filterFramework(){
			return this.toShowFrameworks.filter( filteredFramework => {

				const fw = filteredFramework.framework.toString().toLowerCase();
				const lang = filteredFramework.language.toString().toLowerCase()
				const cat = filteredFramework.category.toString().toLowerCase()
				const searchVal = this.searchFramework.toLowerCase()

				return(
					fw.includes(searchVal) || lang.includes(searchVal) || cat.includes(searchVal)
				)


			})
		}
	 },
	 methods:{
		Language: function(){
			let data = new FormData()
			data.append("category", languages.language.category)
			data.append("language", languages.language.lang)
		
			if(languages.languageFunction == 'update'){

				data.append("id", languages.language.id)
			}
			axios.post(languages.languageFunction+"Language", data, {headers: {'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value}}).then(function(response){

					alert(response.data)
					languages.language.category = ""
					languages.language.lang = ""
					languages.limitToShowLanguage = []
					languages.getLanguages()

			})


		},
		Framework: function(){
			let data = new FormData()
			data.append("framework", languages.framework.framework)
			data.append("language_id", languages.framework.language_id)
			data.append("category", languages.framework.category)
			// alert(languages.framework.framework)
			if(languages.frameworkFunction == 'update'){
				data.append("id", languages.framework.id)
				
			}
		
			
			axios.post(languages.frameworkFunction+"Framework", data, {headers: {'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value}}).then(function(response){
					alert(response.data)
					languages.framework.language_id = ''
					languages.framework.category = ''
					languages.framework.framework = ''
					languages.limitToShowFramework = []
					languages.getFrameworks()
				})
			
		},
		deleteLanguage: function(){
			if (confirm("Are you sure you want to delete this data?") == true) {
				let data = new FormData()
				data.append("id", languages.language.id)
				
				axios.post("deleteLanguage", data, {headers: {'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value}}).then(function(response){
				
					alert(response.data)
					languages.limitToShowLanguage = []
					languages.getLanguages()
					
				})
			} 
		},
		deleteFrameworks: function(){
			if (confirm("Are you sure you want to delete this data?") == true) {
				let data = new FormData()
				data.append("id", languages.framework.id)
	
				axios.post("deleteFramework", data, {headers: {'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value}}).then(function(response){

					alert(response.data)
					languages.limitToShowFramework = []
					languages.getFrameworks()
					
				})
			} 
		},
		getLanguages: function(){
			axios.get('getLanguages').then(function(response){
				if(response.data == "Failed"){
					alert("Unable to retrieve Languages!")
				}else{
					
					languages.toShowLanguages = response.data
					languages.totalLanguage = response.data.length
					// languages.languageCtr = languages.toShowLanguages.length
					var languages_length = response.data.length
					if(languages_length >= 5){
						var ctr = languages_length/5;
						
						for(var i = 1; i <= Math.floor(ctr); i++){
						
								languages.limitToShowLanguage.push(5*i)
						
						}
						if((Math.floor(ctr)*5) != languages_length){
							languages.limitToShowLanguage.push(languages_length)
							
						}
						languages.languageCtr = 5
					}else{
						languages.limitToShowLanguage.push(languages_length)
						languages.languageCtr = languages_length
					}
					
				}
			})
		},
		getFrameworks: function(){
			axios.get('getFrameworks').then(function(response){
			
					languages.toShowFrameworks = response.data
					// languages.frameworkCtr = languages.toShowFrameworks.length

					var fw_length = response.data.length
					languages.totalFW = fw_length
					
					if(fw_length >= 5){
						var ctr = fw_length/5;
						
						for(var i = 1; i <= Math.floor(ctr); i++){

								languages.limitToShowFramework.push(5*i)
						
						}
						if((Math.floor(ctr)*5) < fw_length){
							languages.limitToShowFramework.push(fw_length)
							
						}
						languages.frameworkCtr = 5
					}else{
						languages.limitToShowFramework.push(fw_length)
						languages.frameworkCtr = fw_length
					}
					
			})
		}
	 }
 })

</script>
</body>
</html>