{% extends 'html/templates/dashboard_base.html' %}

{% block body %}

<div class="row">
	
	<div class="col l3 xl3 s12 m6">
		<div class="card card-projects">
			<div class="card-header">
				<span class="fa fa-folder"></span>
					<b class="total">{{total_apps}}</b>
			</div>
			<div class="card-body">
				<p>Projects</p>
			</div>
		</div>
	</div>
	<div class="col l3 xl3 s12 m6">
		<div class="card card-devs">
			<div class="card-header">
				<span class="fa fa-users"></span>
					<b class="total">{{total_devs}}</b>
			</div>
			<div class="card-body">
				<p>Developers</p>
			</div>
		</div>
	</div>
	<div class="col l3 xl3 s12 m6">
		<div class="card card-question">
			<div class="card-header">
				<span class="fa fa-question"></span>
					<b class="total">{{total_questions}}</b>
			</div>
			<div class="card-body">
				<p>Questions</p>
			</div>
		</div>
	</div>

	<div class="col l6 xl3 s12 m6">
		<div class="card card-languages">
			<div class="card-header">
				<span class="fa fa-code"></span>
					<b class="total">{{total_languages}}</b>
			</div>
			<div class="card-body">
				<p>Languages</p>
			</div>
		</div>
	</div>


	<div class="col s12 l8 m6 xl7">
		<div class="top-apps">
			<p class="top-downloaded-apps">Most Downloaded Projects (2021)</p>
			<canvas id="top-projects" height="200" ></canvas>
		</div>
		<div class="yearly">
			<p class="yearly-visitors">Yeary Visitors</p>
			<canvas id="yearly" height="100" width="200" ></canvas>
		</div>
		
	</div>
	<div class="col s12 l4 m6 xl5">
		<div id="mostViewed">
			
			<p class="most-viewed-questions">Most Viewed Questions (2021)</p>
			<ul>
				<li v-for="ques in viewedQuestions"> [ques.question]
					<p class="m-0" v-if="ques.views > 1"><span class="views">[ques.views] Views</span> </p>
					<p class="m-0" v-else> <span class="views">[ques.views] View</span> </p>
				</li>
			</ul>
		
		</div>
		<div class="devices">
			<p class="users-devices">Users Devices</p>
			<canvas id="devices" height="100" width="200" ></canvas>
		</div>
	</div>
	
		
	</div>

</div>
	
{% endblock %}