{% extends 'html/templates/dashboard_base.html' %}

{% block body %}

	<div class="row mt-1" id="languageFramework">
			<h5 class="manage"><span class="fa fa-language"></span> <span id="total-project">| [totalLanguage + totalFW] Languages| </span></h5>

			<div class="col l12 s12 m12 xl12 mt-3" id="table-div">
                
				<div class="row" style="margin-left: -12px;margin-bottom: -3%;margin-right: -12px;">
				
                    <div class="col l8 s12 m6" >
						{% csrf_token %}
						<button  @click="languageBtn = 'Add';language.category = '';language.lang = '';languageFunction = 'add';showAddLanguage = true" id="showAddLanguage">Add Language <span class="fa fa-plus"></span> </button>
						<div class="AddModal" id="addLanguage" v-if="showAddLanguage">
							<div class="ModalWrapper">
								<div class="ModalHeader">
								
									<span class="ModalTitle">[languageBtn] Language</span><button class="closeModal" @click="showAddLanguage = false">&times;</button>
								</div>
								<div class="ModalBody">
									<form id="addFormLanguage" @submit.prevent="Language()">
										
										<!-- {% csrf_token %} -->
										<label>Language Specialization</label>
										<select class="browser-default language-cat" v-model="language.category"  required>
											<!-- <option value="" disabled selected> Specialization</option> -->
											<option>Front-End</option>
											<option>Back-End</option>
											<option>Android Development</option>
											<option>Desktop</option>
											<option>iOS Development</option>
										</select> 
										
										<label>Language</label>
										<input type="text" class="add-input-lang" placeholder="Enter language ..." v-model="language.lang" required> 
										<button type="submit" class="btn-language">[languageBtn] <span class="fa fa-plus"></span></button>
									
									</form>
								</div>
							</div>
						</div>
				
                    </div>
                    <div class="col l4 s12 m6">
					
                        <input type="text" id="search-language" v-model="searchLanguage" placeholder="Search language ..." >
					
                    </div>
                </div>
               
			
			
				<table class="bordered responsive-table" id="table">
					<thead>
						<tr>
							<th>Id</th>
							<th>Language</th>
							<th>Category</th>
							<th>Action</th>
						
							
						</tr>
					</thead>
					<tbody>
						<tr v-for="(lang, index) in filterLanguage" v-if="index < languageCtr">
							<td>[lang.id]</td>
							<td>[lang.language]</td>
							<td>[lang.category]</td>
							<td style="width: auto">
								<button class="btn-edit" @click="languageFunction = 'update';language.id = lang.id;languageBtn = 'Update';language.category = lang.category;language.lang = lang.language;showAddLanguage = true"> <span class="fa fa-edit"></span></button>
								<button class="btn-delete" @click="language.id = lang.id;deleteLanguage();"> <span class="fa fa-trash"></span></button>
							</td>
							
						</tr>
					
					</tbody>

				</table>
				<b class="show">Show</b>
					<select v-model="languageCtr" class="browser-default" style="width: 100px;margin-top: 1%;float: left;">
						<option v-for="limit in limitToShowLanguage">[limit]</option>
						
					</select>
					<b class="entries">Entries 
					
				</b>
			</div>


			<div class="col l12 s12 m12 xl12 mt-3" id="table-div">
                
                <div class="row" style="margin-left: -12px;margin-bottom: -3%;margin-right: -12px;">
                    <div class="col l8 s12 m6" >
						<button  id="showAddFramework" @click="framework.language_id = '';framework.category = '';framework.framework = '';frameworkFunction = 'add';frameworkBtn = 'Add';showAddFramework = true;">Add Framework <span class="fa fa-plus"></span> </button>
						<div class="AddModal"  v-if="showAddFramework">
							<div class="ModalWrapper">
								<div class="ModalHeader">
								
									<span class="ModalTitle">[frameworkBtn] Framework</span><button @click="showAddFramework = false;" class="closeModal" id="closeModalFramework">&times;</button>
								</div>
								<div class="ModalBody">
									<form id="addFormFramework" @submit.prevent="Framework()">
										<!-- {% csrf_token %} -->
										<label>Language</label>
										<select id="framework-lang" class="browser-default" v-model="framework.language_id" required>
											<option value="" disabled selected>Language</option>
											<option  v-for="lang in toShowLanguages"  :value="lang.id">[lang.language]</option>
											
										</select> 
										<label>Language Specialization</label>
										<select class="language-cat browser-default" v-model="framework.category"  required>
											<option value="" disabled selected>Specialization</option>
											<option>Front-End</option>
											<option>Back-End</option>
											<option>Android Development</option>
											<option>Desktop</option>
											<option>iOS Development</option>
										</select> 
										<label>Framework</label>
										<input type="text" id="add-input-framework" placeholder="Enter framework ..." v-model="framework.framework" required> 
										<button type="submit" class="btn-language">[frameworkBtn] <span class="fa fa-plus"></span></button>
									
									</form>
								</div>
							</div>
						</div>
					
                    </div>
                    <div class="col l4 s12 m6">
                        <input type="text" id="search-framework" v-model="searchFramework" placeholder="Search framework ..." >
					
                    </div>
                </div>
               
			
			
				<table class="bordered responsive-table" id="table">
					<thead>
						<tr>
							<th>Id</th>
							<th>Framework</th>
							<th>Language</th>
							<th>Category</th>
							<th>Action</th>
						
							
						</tr>
					</thead>
					<tbody>
						<tr v-for="(f, index) in filterFramework" v-if="index < frameworkCtr">
							<td>[f.id]</td>
							<td>[f.framework]</td>
							<td>[f.language]</td>
							<td>[f.category]</td>
						
							<td style="width: auto">
								<button class="btn-edit" @click="framework.id = f.id;frameworkFunction = 'update';framework.language_id = f.language_id;framework.category = f.category;framework.framework = f.framework;showAddFramework = true;frameworkBtn = 'Update'"> <span class="fa fa-edit"></span></button>
								<button class="btn-delete" @click="framework.id = f.id;deleteFrameworks()"> <span class="fa fa-trash"></span></button>
							</td>
							
						</tr>
					
					</tbody>

				</table>
				<b class="show">Show</b>
					<select v-model="frameworkCtr" class="browser-default" style="width: 100px;margin-top: 1%;float: left;">
						<option v-for="limit in limitToShowFramework">[limit]</option>
					
					</select>
					<b class="entries">Entries 
					
				</b>
			</div>
	</div>
 
{% endblock %}