{% extends 'html/user_pages/user_base.html' %}


{% block user_page %}
	
		<span class="fa fa-bars" id="show"></span>
		<div class="flex-container">
			<div class="flex-item1">
				{% include 'html/user_pages/side_nav.html' %}
				
			</div>
			<div class="flex-item2">
				<p id="calendar"><span class="fa fa-clock mr-1"></span><span id="time"></span> <span id="date"></span><span class="fa fa-calendar right mr-1"></span> </p>
		
				<div class="row clear-float">
					
					<div class="col l12 s12 m12 xl12" id="projects" >
	
						<div class="MyModal" v-if="modalDel">
							<div class="ModalDialog">
								<div class="ModalHeader">
									<span class="fa fa-exclamation"></span>
								</div>
								<div class="ModalContent">
									<p>Are you sure you want to delete this data!</p>
								</div>
								<div class="ModalFooter">
									<button class="btn-ok" @click="deleteProject()">OK</button>
									<button class="btn-cancel" @click="modalDel = false;">Cancel</button>
									
									
								</div>
							</div>
						</div>
						<div class="table-div">
							<p class="my-projects">Uploaded Projects ([count])</p>
							<table class="striped responsive-table" >
								<thead>
								  <tr>
									  <th>Project Name</th>
									  <th>Language</th>
									  <th>No. of Downloads</th>
									  <th>About</th>
									  <th>Views</th>
									  <th>Action</th>
								  </tr>
								</thead>
						
								<tbody>
								  <tr v-for="p in project">
									<td>[p.project_name]</td>
									<td>[p.language]</td>
									<td>[p.downloads]</td>
									<td></td>
									<td>[p.views]</td>
									<td style="overflow: auto"><a type="button" class="btn-view" v-bind:href="url+p.project_name"><span class="fa fa-eye"></span></a >
										<button class="btn-edit"><span class="fa fa-edit"></span></button>
										<button class="btn-delete" @click="id = p.id;modalDel = true;"><span class="fa fa-trash"></span></button></td>
								  </tr>
								
								</tbody>
							  </table>
						</div>
				
								
						
					</div>
					
				</div>
				<div id="files" >
					<div class="MyModal" v-if="modalErr">
						<div class="ModalDialog">
							<div class="ModalHeader">
								<span class="fa fa-exclamation"></span>
							</div>
							<div class="ModalContent">
								<p>File size must not exceed over 10MB!</p>
							</div>
							<div class="ModalFooter">
								<button class="btn-ok" @click="modalErr = false">OK</button>
							</div>
						</div>
					</div>
					<p class="upload-proj">Upload a Project</p>
					<form  @submit.prevent="file()">
					   {% csrf_token %}
						  <div>
							  <label>Folder</label><br>
							  <input type='file' webkitdirectory ref="file" @change="handleFileUpload()" ><br> 
							  <label>About</label>
							  <textarea  id="about" style="max-width: 100%;overflow: auto;"></textarea>
							  <label>More</label>
							  <textarea  id="more" placeholder="e.g Features, How to run, Technologies Used" style="max-width: 100%;overflow: auto;"></textarea>
							  <label>Photo</label> <br>
							  <input type='file'  ref="photo" @change="photo()"><br> 
							  <label>Language(Optional)</label>
							<select class="browser-default" id="select" v-model="language">
							   <!-- <option value="" disabled selected>Select Language</option> -->
							   <option v-for="lang in languages" v-bind:value="lang.language">[ lang.language ]</option>
							   <!-- <option>Option 2</option>
							   <option>Option 3</option> -->
							 </select>
						  </div>
				   
					   <button  type="submit" id="upload-btn">Upload <span class="fa fa-upload"></span> </button>

					</form>
					
			</div> 
				
			</div>
			<!-- class sflex-item2 end -->
			
		</div>
		<!-- class flex-container end -->
		
{% endblock %}