{% extends 'html/user_pages/user_base.html' %}
{% block user_page %}
		<span class="fa fa-bars" id="show"></span>
		
		<div class="flex-container">
			<div class="flex-item1">
				{% include 'html/user_pages/side_nav.html' %}
				
			</div>
			<div class="flex-item2" >
				<p id="calendar"><span class="fa fa-clock mr-1"></span><span id="time"></span> <span id="date"></span><span class="fa fa-calendar right mr-1"></span> </p>
				<!-- <button class="btn-back" onclick="back()"> <span class="fa fa-arrow-left"></span> Back</button>
				<button class="btn-home" onclick="home()"> <span class="fa fa-home"></span> Home</button> -->
				<p class="project-name">{{ request.session.app }}<span>{{ request.session.total_download }} Download/s</span></p>
				
				<div class="row" >
					
						<div class="col l4 s12 ">
							
							<div class="other-project for-other-projects-left">
								
								<p class="projects">Other Projects</p>
								<ul>
								{% for project in projects %}
								<!-- check if the current open folder is the one being loop -->
									{% if project.project_name != request.session.app %}
										<li>
											<a href="{{ project.project_name }}">{{ project.project_name }}</a>
										</li>
									{% endif %}
								{% endfor %}
									
								</ul>
							</div>
						</div>
						<div class="col l8 s12">
						<div class="folders-files">
							<div class="modalEditor">
								<div class="fileModal">
									<div class="modalHeader">
	
										<p class="filename">[filename]</p>
										<button @click="closeEditor()" class="close-file">&times;</button>
	
									</div>
									<div class="modalBody">
									
										<prism-editor  id="my-editor"  v-model='code'  :highlight="highlighter">
							
										</prism-editor>
										
										<button @click="editCode()" class="update-code-btn">Save</button>
										<!-- <button class="btn-delete">Delete</button> -->
									</div>
								</div>
							</div>
							<div class="imgModal">
								<div class="photoModal">
									<div class="modalHeader">
	
										<p class="filename">[filename]</p>
										<button @click="closeImageViewer()" class="close-file">&times;</button>
									</div>
									<div class="modalBody">
										<img :src="media+path.replace(/%/g,'/')" class="file_image" :alt="filename">
										<button class="btn-delete pull-right" @click="deleteFile()">Delete</button>
									</div>
								</div>
							</div>
							
								<div class="promptModal">
									<div class="responseModal">
										<div class="modalHeader">
		
										
											<button @click="closeResponseModal()" class="close-file">&times;</button>
										</div>
										<div class="modalBody">
											<span v-if="modalLogo == 'err'" class="fa fa-exclamation err"></span>
											<span v-else class="fa fa-check success"></span>
											<p class="center-align promptMsg" >[responseMsg]</p>
										</div>
									</div>
								</div>
				
							{% for folder in folders %}
							<!-- {% if forloop.counter == 1%}
							<p class="path"> <span class="fa fa-folder"></span> <b>{{ folder }}</b> </p>
							{% endif %} -->

								{% with forloop.counter as folderName %}
								<a href="{{folder}}" class="folder">
									{% for f_name in folder_name %}
										{% if folderName == forloop.counter %}
											<!-- folder name -->
											{{ f_name }}

										{% endif %}
									{% endfor %}
								</a>
								{% endwith %}
								
							{% endfor %}
				
							{% csrf_token %}
							{% for file in files %}
								
									{% with forloop.counter as fileName %}
									{% for f_name in file_name %}
										{% if fileName == forloop.counter %}
										<button @click="path = '{{ file }}';filename = '{{ f_name }}';getFile()"  class="file">
											{{ f_name }}

										{% endif %}
									{% endfor %}
									{% endwith %}
									<!-- <br>
									<span class="fa fa-trash" style="margin-right: 10px;"></span>
									<span class="fa fa-edit" ></span> -->
								</button>
								
								
							{% endfor %}
						</div>
					</div>
				</div>
				<!-- end class row -->
			</div>
			<!-- class flex-item2 end -->
			
		</div>
		<!-- class flex-container end -->
{% endblock %}