{% extends 'html/user_pages/user_base.html' %}


{% block user_page %}
	
		<span class="fa fa-bars" id="show"></span>
		<div class="flex-container">
			<div class="flex-item1">
				{% include 'html/user_pages/side_nav.html' %}
				
			</div>
			<div class="flex-item2">
				<p id="calendar"><span class="fa fa-clock mr-1"></span><span id="time"></span> <span id="date"></span><span class="fa fa-calendar right mr-1"></span> </p>
		
				<div class="row clear-float">
					
					<div class="col l12 s12 m12 xl12" id="projects" >
						<div id="promptModal">
							<div id="responseModal">
								<div class="modalHeader">

								
									<button @click="closePromptModal()" class="close-file">&times;</button>
								</div>
								<div class="modalBody">
									<span v-if="modalLogo == 'err'" class="fa fa-exclamation err"></span>
									<span v-else class="fa fa-check success"></span>
									<p class="center-align promptMsg" >[responseMsg]</p>
								</div>
							</div>
						</div>
						<div class="MyModal" id="deleteProjectModal">
							<div class="ModalDialog">
								<div class="ModalHeader">
									<span class="fa fa-exclamation"></span>
								</div>
								<div class="ModalContent">
									<p>Are you sure you want to delete this project!</p>
								</div>
								<div class="ModalFooter">
									<button class="btn-ok" @click="deleteProject()">OK</button>
									<button class="btn-cancel" @click="showDeleteModal('hide')">Cancel</button>

								</div>
							</div>
						</div>
						<div class="table-div">
							<p class="my-projects">Uploaded Projects ([count])</p>
							<table class="striped responsive-table" >
								<thead>
								  <tr v-if="project != '' ">
									  <th>Project Name</th>
									  <th>Language</th>
									  <th>No. of Downloads</th>
								
									  <th>Views</th>
									  <th>Action</th>
								  </tr>
								</thead>
						
								<tbody >
								  <tr v-for="p in project">
									<td>[p.project_name]</td>
									<td>[p.language]</td>
									<td>[p.downloads]</td>
									
									<td>[p.views]</td>
									<td style="overflow: auto;max-width: 150px;">
										<a type="button" class="btn-view" v-bind:href="url+p.project_name"><span class="fa fa-eye"></span> View</a >
										<button class="btn-edit" @click="updateProject(p.project_name, p.language, p.id, p.more, p.about)"><span class="fa fa-edit"></span> Edit</button>
										<button class="btn-delete" @click="showDeleteModal('show');id = p.id;"><span class="fa fa-trash"></span> Delete</button></td>
								  </tr>
								
								</tbody>
							  </table>
						</div>
			
								
						
					</div>

					
					<!-- id projects end -->
					
				</div>
				<!-- class row clear-float end -->
				<div id="files">
					<div class="updateModal">
						<div class="formEditModal">
							<div class="modalHeader">
								<p class="modal-title">Update Project</p>
								<button class="btn-close" @click="closeEditModal()">&times;</button>
							</div>
							<div class="ModalContent">
								<form @submit.prevent="editProject()">
								
									<label>Project Name</label>
									<input type="text" v-model="editProjectInfo.project_name">
									<label >About</label>
									<div  id="about-update"></div>
									<label>More</label>
									<div  id="more-update"></div>
									<label for="">Language</label>
									<select class="browser-default" id="" v-model="editProjectInfo.lang">
										<optgroup>
											<option value="" disabled selected>Select Language</option>
											<option v-for="lang in languages" v-bind:value="lang.language">[ lang.language ]</option>
										</optgroup>
										<optgroup>
											<option value="" disabled selected>Select Framework</option>
											<option v-for="fw in frameworks" v-bind:value="fw.framework">[ fw.framework ]</option>
										</optgroup>
									  </select>
									  <button class="btn-update"> <span class="fa fa-edit"></span> Update</button>
								</form>
							</div>
						</div>
					</div>



					
					<div class="MyModal" id="size-limit" >
						<div class="ModalDialog">
							<div class="ModalHeader">
								<span class="fa fa-exclamation"></span>
							</div>
							<div class="ModalContent">
								<p>File size must not exceed over 10MB!</p>
							</div>
							<div class="ModalFooter">
								<button class="btn-ok" @click="closeSizeLimit()">OK</button>
							</div>
						</div>
					</div>
					<p class="upload-proj">Upload a Project</p>
					<!-- <progress :value="bar" max="100" style="width: 100%;height: 60px" >
					</progress> -->
					
					<form  @submit.prevent="uploadProject()">
					   {% csrf_token %}
						  <div>
							  <label>Folder</label><br>
							 
							  <div class="file-field input-field">
								<div class="btn">
								  <span>Folder</span>
								  <input type="file" required webkitdirectory ref="file" @change="handleFileUpload()">
								</div>
								<div class="file-path-wrapper">
								  <input class="file-path validate" type="text" :placeholder="placeHolder">
								</div>
							</div>
							  <!-- <input type='file' id="projectFile" webkitdirectory ref="file" @change="handleFileUpload()" ><br>  -->
							  <label >About</label>
							  <div  id="about"></div>
							  <label>More</label>
							  <div  id="more"></div>
							  <label>Photo</label> <br>
							  <!-- <input type='file'  ref="photo" @change="photo()"><br>  -->
							  <div class="file-field input-field">
								<div class="btn">
								  <span>Photo</span>
								  <input type="file" accept="image/*" required  ref="photo" @change="photo()">
								</div>
								<div class="file-path-wrapper">
								  <input class="file-path validate"  type="text" :placeholder="appPhotoName">
								</div>
							  </div>
							  <label>Language(Optional)</label>
							  <select class="browser-default" id="select" v-model="language" required>
								<optgroup>
									<option value="" disabled selected>Select Language</option>
									<option v-for="lang in languages" v-bind:value="lang.language">[ lang.language ]</option>
								</optgroup>
								<optgroup>
									<option value="" disabled selected>Select Framework</option>
									<option v-for="fw in frameworks" v-bind:value="fw.framework">[ fw.framework ]</option>
								</optgroup>
							  </select>
							
						  </div>
						  <div class="circle-progress-bar" v-if="bar != 0 && bar != 100">
							<p>[bar]</p>
						  </div>
					   <button  type="submit" id="upload-btn">Upload Project <span class="fa fa-upload"></span> </button>
					  
					</form>
					
			</div> 
				<!-- id files end -->
			</div>
			<!-- class flex-item2 end -->
			
		</div>
		<!-- class flex-container end -->
		
{% endblock %}
