{% extends 'html/user_pages/user_base.html' %}


{% block user_page %}
		<span class="fa fa-bars" id="show"></span>
		<div class="flex-container" >
			<div class="flex-item1">
				
				{% include 'html/user_pages/side_nav.html' %}
				
			</div>
			<div class="flex-item2" id="my-questions">
				<p id="calendar"><span class="fa fa-clock mr-1"></span><span id="time"></span> <span id="date"></span><span class="fa fa-calendar right mr-1"></span> </p>
				<!-- <button class="btn-back" onclick="back()"> <span class="fa fa-arrow-left"></span> Back</button> -->
				<!-- <button class="btn-home" onclick="home()"> <span class="fa fa-home"></span> Home</button> -->
				<div class="row clear-float">
				<!-- 	-->
					<div class="col l6 s12 m12 xl6">

						<p class="questions-asked-p">Questions Asked (Unanswered) ([total_ques])</p>
						<ul class="collection question-ask" id="question-ask">
							
							<li class="collection-item" v-for="ques in myquestions">[ques.question]<br>
								<cite class="date-asked">asked: [ques.date]</cite>
								<div class="question-info">
									<button type="button" id="btn-comments"> <span class="fa fa-comment"></span> </button>
									<button id="btn-remove" @click="questionInfo.id = ques.id;deleteQuestion()"> <span class="fa fa-trash"></span> Remove </button>
									<button type="button" id="set-to-answered"> <span class="fa fa-edit"></span> Edit</button>

								</div>
							</li>
					
						</ul>
						
						
						
					</div>
					<div class="col l6 s12 m12 xl6">
						
						<p class="questions-asked-p">Answered Questions([total_ques])</p>
						<ul class="collection question-ask" id="question-ask">
							
							<li class="collection-item" v-for="ques in myquestions">[ques.question]<br>
								<cite class="date-asked">asked: [ques.date]</cite>
								<div class="question-info">
									<button type="button" id="btn-comments"> <span class="fa fa-comment"></span> </button>
									<button id="btn-remove" @click="questionInfo.id = ques.id;deleteQuestion()"> <span class="fa fa-trash"></span> Remove </button>
									<button type="button" id="set-to-answered">Set as Unanswered</button>

								</div>
							</li>
					
						</ul>
					</div>
				</div>



				<div id="ask-question">
					<form @submit.prevent="askQuestion()">
						{% csrf_token %}
						<p>Ask Question</p>
						<label>Question</label>
						<!-- <textarea id="question"></textarea> -->
						<input type="text" v-model="questionInfo.question">
						<label>Code(Optional)</label>
						<textarea id="code"></textarea>
						
								<label>Language(Optional)</label>
								<select class="browser-default"  v-model="questionInfo.language">
								   <option value="" disabled selected>Select Language</option>
								   <option v-for="lang in languages">[lang.language]</option>
								 </select>
						
								<label>Question Category(Optional)</label>
								<select class="browser-default" v-model="questionInfo.category">
								  <option value="" disabled selected>Select Category</option>
								  <option v-for="cat in question_cat">[cat.category]</option>
								</select>
							
											 <br>
						<button type="submit" id="ask-btn">Ask Now</button>
					</form>
					
				</div>
				
				
			</div>
			
		</div>

{% endblock %}