{% extends 'html/user_pages/user_base.html' %}


{% block user_page %}
		<span class="fa fa-bars" id="show"></span>
		<div class="flex-container">
			<div class="flex-item1">
				
				{% include 'html/user_pages/side_nav.html' %}
				
			</div>
			<div class="flex-item2">
				<p id="calendar"><span class="fa fa-clock mr-1"></span><span id="time"></span> <span id="date"></span><span class="fa fa-calendar right mr-1"></span> </p>
		
				<div class="row clear-float">
				
					<div class="col l6 s12 m12 xl6">

						<div id="user-dp">
							<p class="user-dp-title">Profile Photo</p>
														
							<img class="dp-account-settings" :src="src+mydp">
							<button type="submit" id="btn-change-dp" @click="changeDpModal('show')">Change Photo <span class="fa fa-camera"></span> </button>
							

							<div id="promptModal">
								<div class="responseModal">
									<div class="modalHeader">
										<button @click="closePromptModal()" class="close-file">&times;</button>
									</div>
									<div class="modalBody">
										<span v-if="modalLogo == 'err'" class="fa fa-exclamation err"></span>
										<span v-else class="fa fa-check success"></span>
										<p class="center-align promptMsg" id="promptMsg">[responseMsg]</p>
									</div>
								</div>
							</div>
							<!-- modal for changing profile photo -->
							<div class="dpModal">
								<div class="modalHeader">
									<p id="change-dp-title">Change Profile</p> <button  @click="changeDpModal('hide')" id="close">&times;</button>
								</div>
								<div class="modalBody">
									<form @submit.prevent="changeDp()">
										{% csrf_token %}
										<label>Photo</label><br>
										<input type="file" ref="photo" @change="dp()"><br>
										<button type="submit" class="change-dp-btn">Change</button>
									</form>
								</div>
							</div>
						</div>
						
						
					</div>
					<div class="col l6 s12 m12 xl6">
						<!-- modal for verifying password -->
		
						<div id="security-info">
							<div class="passwordModal" >
								<div class="modalHeader">
									<p id="change-password-title">Verify Password</p> <button  @click="closeVerifyPass()" class="x">&times;</button>
								</div>
								<div class="modalBody">
									<form @submit.prevent="changePassword()">
										<label>Re-type Password</label>
										<input type="password" v-model="userInfo.verifyPass"  id="verify-pass">
										<button class="verify-pass-btn">Verify</button>
									</form>
								</div>
							</div>
							<p>Security</p>
							<div id="forms">
								<div>
									{% csrf_token %}
									<label>Email</label><br>
									<input type="email" name="" :value="userInfo.email" :disabled="true">
								
								</div>
								<div>
								
									<label>New Password</label><br>
									<b id="changePassNote">*Enter new password if you want to change your current password.</b>
									<input type="password" v-model="userInfo.password" ref="pass" v-bind:disabled="editPassDisable" placeholder="">
									<button type="button"  v-if="!password_save" @click="editPassDisable=false;editPassword()" class="edit-btn"><span class="fa fa-edit"></span></button>
									<button v-if="password_save" class="save-btn" @click="editPassword()"> Save </button>
									<button class="view-btn"  @click="viewHidePass()"><span class="fa fa-eye" v-if="!showPass"></span><span class="fa fa-eye-slash" v-if="showPass"></span></button>
									
								</div>
								<div>
									<label>Username</label><br>
									<input  type="text" value="jerecojamespiso@gmail.com" v-model="userInfo.username" v-bind:disabled="editUnameDisable">
									<button v-if="!uname_save" @click="editUnameDisable=false;editUname()"class="edit-btn"><span class="fa fa-edit"></span></button>
									<button  v-if="uname_save" class="save-btn" @click="changeUsername()">Save</button>
							
								</div>
									
				
							</div>
							
							
							
						</div>
						<!-- id security-info ends -->
					</div>
					<div class="col l12 m12 s12 xl12 other-info" >
						<div id="other-info">
							
							<p class="p">Other Information</p>
							<form>
								{% csrf_token %}
								<label for="">Expertise</label>
								<input type="text" v-model="expertise" placeholder="Your main skill">
								<label>Skills</label><br>
								<div class="row" >
									<div class="col l6 m6 s12 xl6">
										<ol class="skills-max-width">
									
											<li v-for="(skill,index) in mySkills" style="font-size: 18px;">[skill] <button type="button" class="rm-skills-btn" @click="deleteMySkills(index,skill)">Remove</button></li>
										</ol>
									</div>
									<div class="col l6 m6 s12 xl6">
										<ol class="skills-max-width">
									
											<li v-for="(skill,index) in rmSkills" style="font-size: 18px;">[skill.value] <button type="button" class="rm-skills-btn" @click="undoDeleteSkills(index,skill.value)">Undo</button></li>
										</ol>
									</div>
								</div>
							
								<div id="skills-tags">
									<div class="skills">
										<span v-for="(skill,index) in newSkills"  @click="deleteSkill(index)"  >[skill]</span>
								
									</div>	
									<input type="text" id="skills-input" v-model="newSkill" @keyup="monitor" placeholder="Enter new skills . . .">
								</div>
								<label>About Me (Optional)</label>
								<div v-html="summerNote" class="my-experience">
								</div>
								<div  id="work-experience"></div>
								<br>
								<button class="other-info-edit-btn" type="button" @click="updateInfo()">Update <span class="fa fa-edit"></span> </button>
							</form>
						</div>
					</div>
					
				</div>
				
				
			</div>
			
		</div>

{% endblock %}