{% extends 'html/user_pages/user_base.html' %}


{% block user_page %}
		<span class="fa fa-bars" id="show"></span>
		<div class="flex-container">
			<div class="flex-item1">
				
				{% include 'html/user_pages/side_nav.html' %}
				
			</div>
			<div class="flex-item2">
				<p id="calendar"><span class="fa fa-clock mr-1"></span><span id="time"></span> <span id="date"></span><span class="fa fa-calendar right mr-1"></span> </p>
		
				<div class="row clear-float">
				
					<div class="col l6 s12 m12 xl6">

						<div id="user-dp">
							<p>Profile Photo</p>
														
							<img class="dp-account-settings" :src="src+mydp">
							<button type="submit" id="btn-change-dp" @click="changeDpModal=true">Change Photo <span class="fa fa-camera"></span> </button>
								
							<!-- modal for changing profile photo -->
							<div class="dpModal" v-if="changeDpModal">
								<div class="modalHeader">
									<p id="change-dp-title">Change Profile</p> <button  @click="changeDpModal=false" id="close">&times;</button>
								</div>
								<div class="modalBody">
									<form @submit.prevent="changeDp()">
										{% csrf_token %}
										<label>Photo</label><br>
										<input type="file" ref="photo" @change="dp()"><br>
										<button type="submit" class="change-dp-btn">Change</button>
									</form>
								</div>
							</div>
						</div>
						
						
					</div>
					<div class="col l6 s12 m12 xl6">
						<div id="security-info">
							<p>Security</p>
							<div id="forms">
								<div>
									{% csrf_token %}
									<label>Email</label><br>
									<input type="email" name="" value="jerecojamespiso@gmail.com" v-bind:disabled="editEmailDisable">
									<button  v-if="!email_save" @click="editEmailDisable=false;editEmail()" class="edit-btn">Edit</button>
									<button v-if="email_save" class="save-btn" @click="editEmail()"> Save</button>
								</div>
									<div>
								
									<label>Password</label><br>
									<input type="password" name="" value="11111111" v-bind:disabled="editPassDisable">
									<button   v-if="!password_save" @click="editPassDisable=false;editPassword()" class="edit-btn">Edit</button>
									<button v-if="password_save" class="save-btn" @click="editPassword()"> Save</button>
								</div>
									<div>
										<label>Username</label><br>
									<input  type="text" value="jerecojamespiso@gmail.com" v-bind:disabled="editUnameDisable">
									<button v-if="!uname_save" @click="editUnameDisable=false;editUname()"class="edit-btn">Edit</button>
									<button  v-if="uname_save" class="save-btn" type="submit">Save</button>
							
									</div>
									
								<br><br>
							</div>
							
							<!-- modal for verifying password -->
							<div class="passwordModal" v-if="changePassModal">
								<div class="modalHeader">
									<p id="change-password-title">Verify Password</p> <button  @click="changePassModal=false" class="close">&times;</button>
								</div>
								<div class="modalBody">
									<form @submit.prevent="changePassword()">
										<label>Re-type password</label>
										<input type="text" name="" id="verify-pass">
										<button class="verify-pass-btn">Verify</button>
									</form>
								</div>
							</div>
							
						</div>
						<!-- id security-info ends -->
					</div>
					<div class="col l12 m12 s12 xl12 other-info">
						<div id="other-info">
							
							<p class="p">Other Information</p>
							<form>
								{% csrf_token %}
								<label for="">Expertise</label>
								<input type="text" v-model="expertise" placeholder="Your main skill">
								<label>Skills</label><br>
								<div class="row" >
									<div class="col l6">
										<ol style="max-width: 200px">
									
											<li v-for="(skill,index) in mySkills" style="font-size: 18px;">[skill] <button type="button" class="rm-skills-btn" @click="deleteMySkills(index,skill)">Remove</button></li>
										</ol>
									</div>
									<div class="col l6">
										<ol style="max-width: 200px">
									
											<li v-for="(skill,index) in rmSkills" style="font-size: 18px;">[skill.value] <button type="button" class="rm-skills-btn" @click="undoDeleteSkills(index,skill.value)">Undo</button></li>
										</ol>
									</div>
								</div>
							
								<div style="border: 1px solid rgba(204, 204, 204,0.3);
								width: auto;
								height: auto; padding-bottom: 5px;">
									<div class="skills">
										<span v-for="(skill,index) in newSkills"  @click="deleteSkill(index)"  >[skill]</span>
								
									</div>	
									<input type="text" style="	background: #eee;
									border: 0;
									margin: 10px 4px 4px 4px;
									padding: 7px;
									width: auto;
									height: 17px;
									border-radius: 0.2rem;" v-model="newSkill" @keyup="monitor" placeholder="Enter new skills . . .">
								</div>
								<label>About Me (Optional)</label>
								<div style="margin-bottom: 7px;" v-html="summerNote">

								</div>
								<div  id="work-experience"></div>
								<br>
								<button class="other-info-edit-btn" type="button" @click="updateInfo()">Update</button>
							</form>
						</div>
					</div>
					
				</div>
				
				
			</div>
			
		</div>

{% endblock %}