<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>{{request.session.title}}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/materialize.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/users/user.css' %}">
	{% if request.session.title == 'Home' %}
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/chart.css' %}">
	{% endif %}
	{% if request.session.title == 'Projects' %}
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/users/projects.css' %}">
	{% endif %}
	{% if request.session.title == 'Questions' %}
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/users/questions.css' %}">

	{% endif %}
	{% if request.session.title == 'Settings' %}
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/users/settings.css' %}">
	{% endif %}
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/users/project_file.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/fontawesome-free/css/all.min.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/summernote-lite.min.css' %}">  
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/prism-editorr.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/prism-tomorroww.css' %}">
</head>
<style>
   
.tags, .skills{
	float: left;
	  padding: 4px;
	  font-family: Arial;		
}
 .tags span:after, .skills span:after {
  position: absolute;
  content: "×";
  padding: 0 4px;
  margin: 0px 0 10px 7px;
  font-size: 18px;
}
.tags span, .skills span{
  cursor: pointer;
  display: block;
  float: left;
  color: rgb(255,255,255);
  background: rgb(0,128,128);
  padding: 5px 10px;
  padding-right: 30px;
  margin-right: 4px;
  margin-top: 5px;
}
#tags{
	background: #eee;
  border: 0;
  margin: 10px 4px 4px 4px;
  padding: 7px;
  width: auto;
  height: 17px;
  border-radius: 0.2rem;
}
/* #skills-input{
	background: #eee;
	border: 0;
	margin: 10px 4px 4px 4px;
	padding: 7px;
	width: auto;
	height: 1px;
	border-radius: 0.2rem;
} */
  
</style>
<body>
	<div class="spinner1">

		<div id="loader" class="center">

		</div>
	</div>
	{% block user_page %}



	{% endblock %}
	
<script src="{% static 'assets/js/jquery.js' %}" type="text/javascript"></script>
<!-- <script type="text/javascript" src="{% static 'assets/js/usersz.js' %}"></script> -->
<script type="text/javascript" src="{% static 'assets/js/vue.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/axios.js' %}"></script>
{% if request.session.title == 'Home' %}
<script src="{% static 'assets/js/chart.js' %}" type="text/javascript"></script>
<script type="text/javascript" src="{% static 'assets/js/myChart.js' %}"></script>
{% endif %}
{% if request.session.title == 'Projects' %}
<script src="{% static 'assets/js/user/project.js' %}" type="text/javascript"></script>
{% endif %}
{% if request.session.title == 'Questions' %}
<script src="{% static 'assets/js/moment.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/js/user/questions.js' %}" type="text/javascript"></script>
{% endif %}
<script type="text/javascript" src="{% static 'assets/js/summernote-lite.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/prism.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/vue-prism-editorr.js' %}"></script>
<!-- {% if request.session.title == 'Settings' %}

{% endif %} -->
<script src="{% static 'assets/js/user/settings.js' %}" type="text/javascript"></script>
<script>
	document.onreadystatechange = function() {
	
	if (document.readyState !== "complete") {
		document.querySelector(
		  "body").style.display = "none";
		document.querySelector(
		  ".spinner1").style.display = "block";
	
	} else {
		document.querySelector(
		  ".spinner1").style.display = "none";
		document.querySelector(
		  "body").style.display = "block";
	}
};
var months = ['Jan','Feb','Mar','Apr','May','June','July','Aug','Sept','Oct','Nov','Dec'];
var day = ['Mon','Tues','Wed','Thurs','Fri','Sat','Sun']

function time(){
	var date = new Date();
	var dateNow = months[date.getMonth()] +' '+ date.getDate() + ' '+date.getFullYear() + " ("+ day[date.getDay()]+")";
    document.getElementById("time").innerHTML = date.toLocaleTimeString();
    document.getElementById('date').innerHTML = dateNow.toString();

}
$(document).ready(function(){

	var set = setInterval(time, 1000)	

	$(window).resize(function(){
       	if(document.body.clientWidth > 992){
       		$('.flex-item1').show().css({'width': '20%'})     				
		}else if(document.body.clientWidth > 600 && document.body.clientWidth < 992){
       		$('.flex-item1').css({'width': '40%'})     		
       	
		}else{
			   $('.flex-item1').css({'width': '40%'}).hide() 
			
       	}
   	});

	$('#bars').click(function(){
		$('.flex-item1').hide()
	})
})



$(document).ready(function(){
	
	$('#questionCode').summernote({
		tabSize: 1,
		maxHeight: 500,
	});
	$('#about').summernote({
			tabSize: 1,
			maxHeight: 500,
			
		
	});
	$('#more').summernote({
		tabSize: 1,
		maxHeight: 500,
		placeholder: 'e.g features, how to run, technologies used',  
	});

	

	$("#about").summernote('code', '')
	$("#more").summernote('code', '')
	
	$("#questionCode").summernote('code', '')
	
		$('#show').click(function(){
			$('.flex-item1').show().css({'width': '50%'})
		})
		$('#bars').click(function(){
			$('.flex-item1').hide()
		})
		$("#uploadErr").click(function(){
			$(".uploadErr").fadeOut()
		})
	})


</script>
</body>
</html>