<!DOCTYPE html>
<html>
<head>
	<title>Checkboxes</title>
</head>
<body>
		<div id="check">
			<!-- TANAN NGA MA CHECHECKAN ET ERA VALUE MANGANGADTOT 'CHECKED NA VARIABLE NA ET DATA TYPE ARRAY' -->
			<label>Java</label>
			<input type="checkbox" name="" value="Java" v-model="checked">
			<label>C++</label> 
			<input type="checkbox" name="" value="c++" v-model="checked">
			<label>PHP</label>
			<input type="checkbox" name="" value="php" v-model="checked">
			<label>Python</label>
			<input type="checkbox" name="" value="python" v-model="checked">
			{{checked}}
		</div>

<script type="text/javascript" src="vue.js"></script>
<script type="text/javascript">
	new Vue({
		el: "#check",
		data:{
			checked: []
		}
	})
</script>
</body>
</html>