#btn-login, #btn-signup, #btn-verify{
	width: 100%;
	padding: 3%;
	
	background-color: rgb(0, 128, 128);
	color: rgb(255,255,255);
	border: none;
	border-radius: 0.6rem;
}
body{
	background-color:  rgb(0, 128, 128);
}
#border_none{
	border: none;
}
.error{
	background-color: #ff5252 ;
	color: rgb(255,255,255);
	border-radius: 0.7rem;
	padding: 2%;
	margin-top: 2%;
}
#forgot-password{
	background-color: transparent;
	border: none;
}
.form{
	margin-top: -7%;
	height: 787px;
    width: 100%;
    padding-top: 10%;
 /*   background-color:  rgb(0, 128, 128);*/
}
@media(max-width: 699px){
	#login-form, #signup-form, #verify-form{
		background-color: rgb(239, 245, 245);
		width: 90%;
	
		margin-left: 5%;
		padding: 5%;
		margin-top: 20%;
		border-radius: 1rem
	}
}
@media(min-width: 700px) and (max-width: 991px){
	#login-form, #signup-form, #verify-form{
		background-color: rgb(239, 245, 245);
		width: 50%;
		margin-left: 25%;
		padding: 1.7%;
		margin-top: 15%;
		border-radius: 1rem
	}
}
@media(min-width: 992px) and (max-width: 1999px){
	#login-form, #signup-form, #verify-form{
		background-color: rgb(239, 245, 245);
		width: 27%;
		margin-left: 37%;
		padding: 1.7%;
		margin-top: 5%;
		border-radius: 1rem
	}
}
@media(min-width: 1200px){
	#login-form, #signup-form, #verify-form{
		background-color: rgb(239, 245, 245);
		width: 27%;
		margin-left: 37.5%;
		padding: 1.7%;
		margin-top: 5%;
		border-radius: 1rem
	}
}

#login-form label, #signup-form label, #verify-form label{
	font-size: 100%;
	color: rgb(0,0,0);
	
	font-weight: bold;
}
.login-logo, .signup-logo{
	border-radius: 60%;
	width: 20%;
	margin-bottom: 10%;
	margin-left: 37%;
	display: block;
}
#login-form div input, #signup-form div input, #verify-form div input{
	border: 1px solid rgb(0, 128, 128);
	height: 35px;
	border-radius: 0.3rem;
	margin-bottom: 3%;
	
}
#login-form input:focus, #signup-form input:focus, #verify-form input:focus{
	border: 1px solid rgb(0, 128, 128);
   
    padding-left: 0.5%;
}
#login-form div, #signup-form div, #verify-form div{
	margin-top: -10%;
}
.site-name{
	font-size: 200%;
	color: rgb(0, 128, 128);
	text-align: center;
}
.verify-notice{
	color: rgb(255,0,0);
}
.mr-3{
	margin-right: 3px;
}
.error{
	background-color: #ff5252 ;
	color: rgb(255,255,255);
	border-radius: 0.7rem;
	padding: 2%;
	margin-top: 2%;
	font-size: 15px;
	
}