.LoginModal{
	background-color: rgba(115, 115, 115,0.3);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	z-index: 1;
	display: none;
}

.ModalHeader{
	height: 40px;
	/* background-color: red; */
	border-bottom: 1px solid rgb(224, 235, 235);
}
.ModalBody{
	
	padding: 15px 25px 15px 25px;
}
#LoginForm label{
	font-size: 16px;
	color: rgb(0,0,0);
	font-family: sans-serif;
}
#LoginForm input{
	border: 1px solid rgb(0, 128, 128);
	border-radius: 0.3rem;
	height: 40px;
	padding-left: 2px;
	width: 100%;
	margin-bottom: 8px;
}
#LoginForm  button{
	width: 101%;
	padding: 8px 0 8px 0;
	border-radius: 0.3rem;
	color: rgb(255, 255, 255);
	border: none;
	background-color: rgb(0, 128, 128);
}
.must-login{
	margin-top: 0;
	font-family: sans-serif;
	font-size: 17px;
	color: red;
	/* text-align: center */
}
.dont-have{
	margin-top: 3px;
	font-family: sans-serif;
	font-size: 17px;
}
.categories{
	display: flex;
	flex-wrap: wrap;
}
.categories a{
	background-color: rgb(224, 235, 235);
	padding: 1% 3% 1% 3%;
	border-radius: 2rem;
	margin: 2% 2% 0% 0%;
	font-size: 14px;
	
}
cite{
	color: rgb(117, 163, 163)
}
.comments{
	color: rgb(0, 204, 102)
}

.infos b{
	color:rgb(71, 107, 107);
}
.filter-p{
	font-size: 20px;
	margin: 0.6% 0% 0% 0%;
	color: rgb(0, 128, 128);
}
.filter-by{
	font-size: 15px;
}

.likes{
	color: rgb(26, 140, 255)
}

.m-box{
	margin: 1% 15% 0% 15%;
}
.mb-n3{
	margin-bottom: -27px;
}
.mt-1{
	margin-top: 1%;
}
.question{
	height: auto;
	border: 1px solid rgb(224, 235, 235);
	margin-left: 2%;
	padding: 2%;
}
.question a:hover{
	border-bottom: 2px solid rgb(0, 153, 255);
}
.question-info{
	
	margin-right: 10%;


}
.question a{
	font-size: 150%;
}
.questions-box{
	border: 1px solid rgb(224, 235, 235);
	padding: 2%;
	clear: both;
	height: auto;
	

}
.questions-btn{
	display: flex;
	flex-wrap: wrap;
}
.questions-btn a{
	background-color: rgba(0, 128, 255,0.9);
	border: none;
	margin-right: 2%;
	border-radius: 0.5rem;
	padding: 5px;
	margin-top: 8px;
	font-size: 14px;
	color: rgb(255,255,255);
}
.form-title{
	text-align: center;
	font-size: 190%;
	/* margin-top: -3%; */
	/* margin: 0px; */
	color: rgb(0, 128, 128);
	

}
.closeModal{
	float: right;
	background-color: transparent;
	border:none;
	font-size: 25px;
	opacity: 0.6;
}
.question-categories{
	font-family: sans-serif;
	font-size: 170%;
	color: rgb(0, 128, 128);
	margin: 0.6% 0% -4% 0%;
}
.question-slogan{
	font-family: sans-serif;
}

.questions-total-large-device{
	font-size: 200%;
	margin-top: 2%;
	margin-bottom: 0%;
	
	color: rgb(0, 128, 128);
	font-weight: bold;
	text-align: center;
	border-radius: 0.2rem;
	border: 2px solid rgb(0, 128, 128);
}
/* .questions-total:hover{
	background-color: rgb(0,128,128);
	color: rgb(255,255,255);
	transition: 0.5s;
} */
/* #search-question{
	float: right;
	margin-top:8px;
	margin-bottom: -10px;
	
}
#form-filter-categories{
	width: 200px;
	float: left;
	margin-bottom: 10px;
	margin-top: 1%;
	margin-left: -3%;
}
#form-filter-lang{
	width: 200px;
	float: left;
	
	margin-top: 1.3%;

} */

#question-box{
	margin: 0.5% 0 2% 1%;
	padding: 0 2% 40px 2%;
	background-color: rgb(255,255,255);
	border: 0.5px solid rgba(153, 153, 153,0.4);
	
}
body{
	background-color: rgba(191, 191, 191,0.1);
}

#search-question input{
	border: 0.5px solid rgba(153, 153, 153,0.4);

	padding-left: 2%;
	width: 98%;

	height: 40px;
}
span{
	font-size: 200%;
	
}
strong{
	font-size: 150%;
}
.feel-free{
	margin: 0;
	padding: 1% 0 0.5% 0;
	font-size: 25px;
	border-bottom: 1px solid rgba(153, 153, 153,0.8);
	font-family: sans-serif;
	
}
#ask-btn{
	background-color: rgba(0, 128, 255,0.9);
	font-size: 18px;
	padding: 5px;
	/* float: right; */
	margin-bottom: 5px;
	color: rgb(255,255,255);
	border-radius: 0.2rem;
	width: 100px;
	text-align: center;
}
@media (min-width: 300px) and (max-width: 499px){
	.LoginModalWrapper{
		border-radius: 0.2rem;
		background-color: rgb(255, 255, 255);
		margin-top: 20%;
		width: 90%;
		margin-left: 5%;
		
	}
	.infos{
		margin-left: 60%;
		/*margin-bottom: -2%;*/
		margin-bottom: 1%;
	}
	#ask-btn{
		clear: both;
		
	}
	.questions-total-small-device{
		font-size: 160%;
		margin-top: 2%;
		margin-bottom: 0%;
	
		color: rgb(0, 128, 128);
		font-weight: bold;
		text-align: center;
		border-radius: 0.2rem;
		border: 2px solid rgb(0, 128, 128);
	
	}
	#search-question{
		width: 100%;
		margin-bottom: -25px;
		margin-top: 5px;
	}
}
@media (min-width: 500px) and (max-width: 600px){
	.LoginModalWrapper{
		border-radius: 0.2rem;
		background-color: rgb(255, 255, 255);
		margin-top: 25%;
		width: 60%;
		margin-left: 20%;
		
	}
	.infos{
		margin-left: 75%;
		/*margin-bottom: -2%;*/
		margin-bottom: 1%;
	}
	#ask-btn{
		float: right;
		
	}
	#search-question{
		width: 100%;
		margin-bottom: -25px;
		margin-top: 5px;
	}
	#form-filter-categories{
		width: 100%;
		margin-bottom: 10px;
		margin-top: 1%;
		
	}
	#form-filter-frameworks{
		width: 100%;
		margin-bottom: 10px;
		margin-top: 1%;
		
	}
	#form-filter-lang{
		width:100%;
		
	
	}
	.questions-total-large-device{
		display: none;
	}
	#form-filter-question{
		width: 100%;
		margin-top: 2.5%;
		margin-left: 0%;
	}

	.questions-total-small-device{
		font-size: 160%;
		margin-top: 1%;
		margin-bottom: 0%;
	
		color: rgb(0, 128, 128);
		font-weight: bold;
		text-align: center;
		border-radius: 0.2rem;
		border: 2px solid rgb(0, 128, 128);
	
	}
}
@media (min-width: 601px) and (max-width: 600px){
	.LoginModalWrapper{
		border-radius: 0.2rem;
		background-color: rgb(255, 255, 255);
		margin-top: 25%;
		width: 60%;
		margin-left: 20%;
		
	}
	.infos{
		margin-left: 60%;
		/*margin-bottom: -2%;*/
		margin-bottom: 1%;
	}
	#search-question{
		width: 100%;
		margin-bottom: -25px;
		margin-top: 5px;
	}
	#form-filter-categories{
		width: 100%;
		margin-bottom: 10px;
		margin-top: 1%;
		
	}
	
	#form-filter-lang{
		width:100%;
		
	
	}
	#form-filter-question{
		width: 100%;
		margin-top: 2.5%;
		margin-left: 0%;
	}
	#search-question{
		margin-right: 2%;
	}
	.questions-total-small-device{
		font-size: 200%;
		margin-top: 1%;
		margin-bottom: 0%;
	
		color: rgb(0, 128, 128);
		font-weight: bold;
		text-align: center;
		border-radius: 0.2rem;
		border: 2px solid rgb(0, 128, 128);
	
	}
}
@media(min-width: 768px) and (max-width: 990px){
	.LoginModalWrapper{
		border-radius: 0.2rem;
		background-color: rgb(255, 255, 255);
		margin-top: 25%;
		width: 50%;
		margin-left: 25%;
		
	}
	#ask-btn{
		float: right;
	}
	.infos{
		margin-left: 80%;
		/*margin-bottom: -2%;*/
		margin-bottom: 1%;
	}
	#search-question{
		width: 100%;
		margin-bottom: -25px;
		margin-top: 5px;
	}
	#form-filter-categories{
		width: 50%;
		margin-bottom: 10px;
		margin-top: 1%;
		float: left;
	}
	#form-filter-frameworks{
		width: 50%;
		border: 0.5px solid rgba(153, 153, 153,0.4);
		clear: both;
		margin-bottom: 10px;
		margin-top: 1%;
		margin-left: -2px;
		
	}
	#form-filter-lang{
		float: left;
		width: 50%;
		margin-top: 1%;
		
	
	}
	.questions-total-small-device{
		display: block;
	}
	.questions-total-large-device{
		display: none;
	}
	.questions-total-small-device{
		font-size: 200%;
		margin-top: 1%;
		margin-bottom: 0%;
	
		color: rgb(0, 128, 128);
		font-weight: bold;
		text-align: center;
		border-radius: 0.2rem;
		border: 2px solid rgb(0, 128, 128);
	
	}
}
@media(min-width: 991px) and (max-width: 1999px){
	.LoginModalWrapper{
		border-radius: 0.2rem;
		background-color: rgb(255, 255, 255);
		margin-top: 10%;
		width: 30%;
		margin-left: 35%;
		
	}
	#ask-btn{
		float: right;
	}
	.infos{
		margin-left: 80%;
		/*margin-bottom: -2%;*/
		margin-bottom: 1%;
	}
	.questions-total-small-device{
		display: none;
	}
	#search-question{
		float: right;
		margin-top:8px;
		margin-bottom: -10px;
		width: 320px;
		
	}
	#form-filter-frameworks{
		width: 150px;
		border: 0.5px solid rgba(153, 153, 153,0.4);
		float: left;
		margin-bottom: 10px;
		margin-top: 1%;
		margin-left: -2px;
		
	}
	#form-filter-categories{
		width: 200px;
		float: left;
		margin-bottom: 10px;
		margin-top: 1%;
		margin-left: -2px;
		
	}
	#form-filter-lang{
		width: 200px;
		float: left;
		
		margin-top: 1%;
	
	}
}
@media(min-width: 1200px){
	.LoginModalWrapper{
		border-radius: 0.2rem;
		background-color: rgb(255, 255, 255);
		margin-top: 10%;
		width: 30%;
		margin-left: 35%;
		
	}
	#ask-btn{
		float: right;
	}
	.infos{
		margin-left: 80%;
		/*margin-bottom: -2%;*/
		margin-bottom: 1%;
	}
	.questions-total-small-device{
		display: none;
	}
	#search-question{
		float: right;
		margin-top:8px;
		margin-bottom: -10px;
		
		width: 320px;
		
	}
	#form-filter-categories{
		width: 150px;
		border: 0.5px solid rgba(153, 153, 153,0.4);
		float: left;
		margin-bottom: 10px;
		margin-top: 1%;
		margin-left: -2px;
		
	}
	#form-filter-frameworks{
		width: 150px;
		border: 0.5px solid rgba(153, 153, 153,0.4);
		float: left;
		margin-bottom: 10px;
		margin-top: 1%;
		margin-left: -2px;
		
	}
	#form-filter-lang{
		width: 120px;
		float: left;
		border: 0.5px solid rgba(153, 153, 153,0.4);
		
		margin-top: 1%;
	
	}
}