#ask-btn{
	background-color: rgba(0, 128, 255,0.9);
	font-size: 18px;
	padding: 5px;
	/* float: right; */
	margin-bottom: 5px;
	color: rgb(255,255,255);
	border-radius: 0.2rem;
	width: 100px;
	text-align: center;
}
body{
	background-color: rgba(191, 191, 191,0.1);
}
.categories{
	display: flex;
	flex-wrap: wrap;
}
.categories a{
	background-color: rgb(224, 235, 235);
	padding: 1% 3% 1% 3%;
	border-radius: 2rem;
	margin: 2% 2% 0% 0%;
	font-size: 14px;
	
}
.closeModal{
	float: right;
	background-color: transparent;
	border:none;
	font-size: 25px;
	opacity: 0.6;
}
cite{
	color: rgb(117, 163, 163)
}
.comments{
	color: rgb(0, 204, 102)
}
.comments, .likes{
	font-size: 200%;
	
}
.dont-have{
	margin-top: 3px;
	font-family: sans-serif;
	font-size: 17px;
}
.feel-free{
	margin: 0;
	padding: 1% 0 0.8% 0;
	color: rgba(0,0,0,0.7);;
	border-bottom: 1px solid rgba(153, 153, 153,0.8);
	font-family: sans-serif;
	
}
.filter-by{
	font-size: 15px;
}
.form-title{
	text-align: center;
	font-size: 190%;
	/* margin-top: -3%; */
	/* margin: 0px; */
	color: rgb(0, 128, 128);
	

}
.hot-topics{
	font-size: 1.5em;
	margin: 3% 0% -2% 1%;
	font-family: sans-serif;
	color: rgb(0, 128, 128);
}
.hot-topic{
	margin-left: 1%;
	margin-top: 2px;
}
.hot-topic li{
	padding: 7px 0 0 0;
}
.hot-topic li:hover a{
	margin-left: 5px;
	transition: 1s;

}
.hot-topic li a{
	font-size: 1.1em;
	 color: rgba(0, 0, 0,0.8);
}
.infos b{
	color:rgb(71, 107, 107);
}

.likes{
	color: rgb(26, 140, 255)
}

.imp-txt{
	color: rgb(0, 128, 128);
	font-size: 26px;
}
.m-box{
	margin: 1% 15% 0% 15%;
}
.ml-1{
	margin-left: 10%;
}
.mb-n3{
	margin-bottom: -27px;
}
.mt-1{
	margin-top: 1%;
}
.must-login{
	margin-top: 0;
	font-family: sans-serif;
	font-size: 17px;
	color: red;
	/* text-align: center */
}

.question{
	height: auto;
	/* border: 1px solid rgb(224, 235, 235); */
	border: 0.7px solid rgba(153, 153, 153,0.4);
	margin-left: 2%;
	padding: 2%;
}
.question a:hover{
	border-bottom: 2px solid rgb(0, 153, 255);
}
.question-info{
	
	margin-right: 10%;


}
.question a{
	font-size: 150%;
}
.questions-box{
	/* border: 1px solid rgb(224, 235, 235); */
	border: 0.7px solid rgba(153, 153, 153,0.4);
	padding: 2%;
	clear: both;
	height: auto;
	

}
.questions-btn{
	display: flex;
	flex-wrap: wrap;
	margin-left: 1%;
}
.questions-btn a{
	

	border: 0.2px solid rgba(153, 153, 153,0.6);

	background-color: rgba(224, 235, 235,0.7);
	/* border: none; */
	margin-right: 2%;
	border-radius: 0.5rem;
	margin-top: 8px;
	padding: 0.5em;
	font-size: 1em;
	color: rgb(0,128,128);
}
.questions-btn a:hover{
	background-color: rgb(0,128,128);
	color: rgb(255, 255, 255)
}
.question-categories{
	font-family: sans-serif;
	font-size: 170%;
	color: rgb(0, 128, 128);
	margin: 0.6% 0% -4% 0%;
}
.question-slogan{
	font-family: sans-serif;
}
.questions-total-large-device{
	font-size: 200%;
	margin-top: 1.5%;
	margin-bottom: 0%;
	margin-left: 1%;
	color: rgb(0, 128, 128);
	font-weight: bold;
	text-align: center;
	border-radius: 0.2rem;
	border: 2px solid rgb(0, 128, 128);
}
#question-box{
	margin: 0.5% 0 2% 1%;
	padding: 0 2% 40px 2%;
	background-color: rgb(255,255,255);
	border: 0.5px solid rgba(153, 153, 153,0.4);
	
}

.result-for{
	font-size: 1.4em;
	margin: 0 0 -5px 0;
	clear: both;
}
.result-for i{
	color: rgb(0, 128, 128);
}
#search-question input{
	border: 0.5px solid rgba(153, 153, 153,0.6);
	padding-left: 2%;
	border-radius: 0.1em;
	width: 98%;
	height: 40px;
}
strong{
	font-size: 1em;
	color: rgb(0, 128, 128);
	font-weight: bold;
}

@media (min-width: 300px) and (max-width: 499px){
	#ask-btn{
		clear: left;
	}
	.feel-free{
		font-size: 1.8em;
		
		
	}
	
	.infos{
		margin-left: 60%;
		/*margin-bottom: -2%;*/
		margin-bottom: 1%;
	}
	.LoginModalWrapper{
		border-radius: 0.2rem;
		background-color: rgb(255, 255, 255);
		margin-top: 20%;
		width: 90%;
		margin-left: 5%;
		
	}
	.questions-total-small-device{
		font-size: 160%;
		margin-top: 2%;
		margin-bottom: 0%;
	
		color: rgb(0, 128, 128);
		font-weight: bold;
		text-align: center;
		border-radius: 0.2rem;
		border: 2px solid rgb(0, 128, 128);
	
	}
	.row-mt{
		margin-top: 4em;
	}
	#search-question{
		width: 100%;
		margin-bottom: -25px;
		margin-top: 5px;
	}
}
@media (min-width: 500px) and (max-width: 600px){
	#ask-btn{
		clear: both;
		float: right;
		
	}

	.feel-free{
		font-size: 1.8em;
	}
	.infos{
		margin-left: 75%;
		/*margin-bottom: -2%;*/
		margin-bottom: 1%;
	}
	#form-filter-categories{
		width: 100%;
		margin-bottom: 10px;
		margin-top: 1%;
		
	}
	#form-filter-frameworks{
		width: 100%;
		margin-bottom: 10px;
		margin-top: 1%;
		
	}
	#form-filter-lang{
		width:100%;
	}
	#form-filter-question{
		width: 100%;
		margin-top: 2.5%;
		margin-left: 0%;
	}
	.LoginModalWrapper{
		border-radius: 0.2rem;
		background-color: rgb(255, 255, 255);
		margin-top: 25%;
		width: 60%;
		margin-left: 20%;
		
	}
	
	
	
	.questions-total-large-device{
		display: none;
	}


	.questions-total-small-device{
		font-size: 160%;
		margin-top: 1.5%;
		margin-bottom: 0%;
	
		color: rgb(0, 128, 128);
		font-weight: bold;
		text-align: center;
		border-radius: 0.2rem;
		border: 2px solid rgb(0, 128, 128);
	
	}
	.row-mt{
		margin-top: 4em;
	}
	#search-question{
		width: 100%;
		margin-bottom: -25px;
		margin-top: 5px;
	}

}
@media (min-width: 601px) and (max-width: 767px){

	#ask-btn{
		float: right;
	}
	
	.feel-free{
		font-size: 1.8em;
	}
	.LoginModalWrapper{
		border-radius: 0.2rem;
		background-color: rgb(255, 255, 255);
		margin-top: 25%;
		width: 60%;
		margin-left: 20%;
		
	}
	.infos{
		margin-left: 60%;
		/*margin-bottom: -2%;*/
		margin-bottom: 1%;
	}
	
	#form-filter-categories{
		width: 100%;
		margin-bottom: 10px;
		margin-top: 1%;
		
	}
	
	#form-filter-lang{
		width:100%;
		
	
	}
	#form-filter-question{
		width: 100%;
		margin-top: 2.5%;
		margin-left: 0%;
	}
	.questions-total-small-device{
		font-size: 200%;
		margin-top: 1%;
		margin-bottom: 0%;
	
		color: rgb(0, 128, 128);
		font-weight: bold;
		text-align: center;
		border-radius: 0.2rem;
		border: 2px solid rgb(0, 128, 128);
	
	}
	#search-question{
		margin-right: 2%;
	}

	.row-mt{
		margin-top: 4em;
	}
	#search-question{
		width: 100%;
		margin-bottom: -25px;
		margin-top: 5px;
	}
}
@media(min-width: 768px) and (max-width: 990px){
	#ask-btn{
		float: right;
	}
	.feel-free{
		font-size: 1.9em;
	}
	
	.infos{
		margin-left: 80%;
		/*margin-bottom: -2%;*/
		margin-bottom: 1%;
	}
	.LoginModalWrapper{
		border-radius: 0.2rem;
		background-color: rgb(255, 255, 255);
		margin-top: 25%;
		width: 50%;
		margin-left: 25%;
		
	}
	#form-filter-categories{
		width: 50%;
		margin-bottom: 10px;
		margin-top: 1%;
		float: left;
	}
	#form-filter-frameworks{
		width: 50%;
		border: 0.5px solid rgba(153, 153, 153,0.4);
		clear: both;
		margin-bottom: 10px;
		margin-top: 1%;
		margin-left: -2px;
		
	}
	#form-filter-lang{
		float: left;
		width: 50%;
		margin-top: 1%;
		

	}
	.questions-total-small-device{
		display: block;
	}
	.questions-total-large-device{
		display: none;
	}
	.questions-total-small-device{
		font-size: 200%;
		margin-top: 1.5%;
		margin-bottom: 0%;
	
		color: rgb(0, 128, 128);
		font-weight: bold;
		text-align: center;
		border-radius: 0.2rem;
		border: 2px solid rgb(0, 128, 128);
	
	}
	.row-mt{
		margin-top: 5em;
	}
	#search-question{
		width: 100%;
		margin-bottom: -25px;
		margin-top: 5px;
	}
}
@media(min-width: 991px) and (max-width: 1199px){
	#ask-btn{
		float: right;
	}
	.feel-free{
		font-size: 1.8em;
	}
	.infos{
		margin-left: 80%;
		/*margin-bottom: -2%;*/
		margin-bottom: 1%;
	}
	
	.LoginModalWrapper{
		border-radius: 0.2rem;
		background-color: rgb(255, 255, 255);
		margin-top: 10%;
		width: 30%;
		margin-left: 35%;
		
	}
	
	
	#form-filter-frameworks{
		width: 150px;
		border: 0.5px solid rgba(153, 153, 153,0.4);
		float: left;
		margin-bottom: 10px;
		margin-top: 1%;
		margin-left: -2px;
		
	}
	#form-filter-categories{
		width: 200px;
		float: left;
		margin-bottom: 10px;
		margin-top: 1%;
		margin-left: -2px;
		
	}
	#form-filter-lang{
		width: 200px;
		float: left;
		
		margin-top: 1%;
	
	}
	.questions-total-small-device{
		display: none;
	}
	.row-mt{
		margin-top: 5em;
	}
	#search-question{
		float: right;
		margin-top:8px;
		margin-bottom: -10px;
		width: 320px;
		
	}
}
@media screen and (min-width: 1200px) and (max-width: 1999px){
	#ask-btn{
		float: right;
	}

	.feel-free{
		font-size: 1.8em;
	}
	.infos{
		margin-left: 80%;
		/*margin-bottom: -2%;*/
		margin-bottom: 1%;
	}
	.LoginModalWrapper{
		border-radius: 0.2rem;
		background-color: rgb(255, 255, 255);
		margin-top: 10%;
		width: 30%;
		margin-left: 35%;
		
	}
	#form-filter-categories{
		width: 150px;
		border: 0.5px solid rgba(153, 153, 153,0.4);
		float: left;
		margin-bottom: 10px;
		margin-top: 1%;
		margin-left: -2px;
		
	}
	#form-filter-frameworks{
		width: 150px;
		border: 0.5px solid rgba(153, 153, 153,0.4);
		float: left;
		margin-bottom: 10px;
		margin-top: 1%;
		margin-left: -2px;
		
	}
	#form-filter-lang{
		width: 120px;
		float: left;
		border: 0.5px solid rgba(153, 153, 153,0.4);
		
		margin-top: 1%;
	
	}
	.questions-total-small-device{
		display: none;
	}
	.row-mt{
		margin-top: 4em;
	}
	#search-question{
		float: right;
		margin-top:8px;
		margin-bottom: -10px;
		
		width: 320px;
		
	}
}
@media screen and (min-width: 2000px){
	#ask-btn{
		float: right;
	}

	.feel-free{
		font-size: 1.8em;
	}
	.infos{
		margin-left: 80%;
		/*margin-bottom: -2%;*/
		margin-bottom: 1%;
	}
	.LoginModalWrapper{
		border-radius: 0.2rem;
		background-color: rgb(255, 255, 255);
		margin-top: 10%;
		width: 30%;
		margin-left: 35%;
		
	}
	#form-filter-categories{
		width: 150px;
		border: 0.5px solid rgba(153, 153, 153,0.4);
		float: left;
		margin-bottom: 10px;
		margin-top: 1%;
		margin-left: -2px;
		
	}
	#form-filter-frameworks{
		width: 150px;
		border: 0.5px solid rgba(153, 153, 153,0.4);
		float: left;
		margin-bottom: 10px;
		margin-top: 1%;
		margin-left: -2px;
		
	}
	#form-filter-lang{
		width: 120px;
		float: left;
		border: 0.5px solid rgba(153, 153, 153,0.4);
		
		margin-top: 1%;
	
	}
	.questions-total-small-device{
		display: none;
	}
	.row-mt{
		margin-top: 5.5em;
	}
	#search-question{
		float: right;
		margin-top:8px;
		margin-bottom: -10px;
		
		width: 320px;
		
	}
}
