.about-project{
    font-size: 16px;
}
.app-img{
    width: 100%;
    margin-top: 5px;
    height: 300px;
}
.project-title{
    color: rgb(0, 153, 255);
}
cite{
    color: rgb(92, 138, 138);
    margin-bottom: 3px;
}
body{
    background-color: rgba(230, 230, 230,0.5);
}
.project-box{
    border-right: 2px solid rgb(194, 214, 214);
    border-left: 2px solid rgb(194, 214, 214);
    margin: 0 5% 0 5%;
    padding: 1% 2% 4% 2%;
    background-color: rgb(255, 255, 255);
}
.btn-download{
    background-color: rgb(0, 134, 200);
    border: none;
    padding: 8px;
    font-size: 17px;
    color: rgb(255, 255, 255);
    border-radius: 0.3rem;
}